.main-info--ico .infographic {
  margin-top: 0;
  margin-bottom: 80px;
  max-width: 500px;

  & .timer {
    padding-bottom: 20px;
    margin-bottom: 8px;
    &__dates {
      font-size: 36px;
      letter-spacing: 0.9px;
      margin-bottom: 20px;
    }
  }

  & .fees-diagram {
    &__form:before,
    &__soft-cap,
    &__reached:after,
    &__hard-cap-text {
      @media(min-width: 768px) {
        font-size: 21px;
      }
    }
  }

  & .fees-diagram__soft-cap {
    bottom: 120%;

    &-plank:before {
      height: 110%;
      bottom: -120%;
    }
  }
}
