.roadmap {
  @mixin timestamp {
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      right: -26px;

      width: 11px;
      height: 11px;

      content: '';
      transform: translateY(-50%);

      border: 3px solid rgb(167, 64, 159);
      border-radius: 100%;
      box-shadow: 0 0 8px 0 rgba(32, 39, 43, 0.46),
        0 0 5px 0 rgba(230, 159, 225, .35),
        inset 0 0 3px 0 rgba(230, 159, 225, .35);


      @media(min-width: 992px) {
        right: -36px;
      }
    }
  }

  position: relative;
  z-index: 0;

  width: 100%;
  width: 100%;
  max-width: 778px;
  margin: auto;
  text-align: right;

  box-shadow: 0 -10px 15px 0 rgba(0, 0, 0, 0.25), 0 15px 15px 0 rgba(255, 255, 255, 1);

  &__content {
    position: relative;
    display: flex;
    flex-flow: column wrap;

    width:100%;
    padding: 35px 32px;

    border-radius: 10px;
    background-image: linear-gradient(to top, rgb(216, 218, 220) 5%, rgb(242, 243, 243));


    &:before {
      position: absolute;
      z-index: -1;
      top: -4px;
      left: -4px;

      width: calc(100% + 8px);
      height: calc(100% + 8px);

      content: '';

      border-radius: 10px;
      background-image: linear-gradient(to bottom, rgb(255, 255, 255) 10%, rgb(173, 178, 181) 90%);
    }

    &:after {
      position: absolute;
      content: '';
      height: calc(100% - 100px);
      width: 3px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      background-color: rgba(77, 19, 73, .12);

      @media(min-width: 992px) {
        right: auto;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    @media(min-width: 992px) {
      flex-flow: row wrap;
    }
  }

  &__block {
    position: relative;
    text-align: right;
    margin-bottom: 70px;
    z-index: 2;

    @media(min-width: 992px) {
      width: 50%;
      padding-right: 30px;

      &:nth-of-type(2n) {
        padding-right: 0;
        padding-left: 30px;
        text-align: left;
        margin-top: 150px;
        margin-bottom: 0;

        & .roadmap__date {
          &:after {
            right: auto;
            left: -36px;
          }
        }

        & .roadmap__text {
          text-align: left;
        }

        & .roadmap__milestone {
          text-align: left;
        }
      }

      &:nth-of-type(2n + 1):not(:first-of-type) {
        top: -150px;
      }
    }

    &.roadmap__block--june-2019 {
      margin-top: 0;
    }
  }

  &__starting-point {
    display: block;
    margin-bottom: 70px;
    width: 100%;
    position: relative;
    z-index: 2;

    @media(min-width: 992px) {
      text-align: center;
    }

    &-text {
      display: inline-block;
      padding: 13px 34px 11px;
      letter-spacing: 0.2px;

      color: #ffffff;
      border-radius: 4px;
      background-color: rgb(138, 72, 176);
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
      box-shadow: 1px 1.7px 2px 0 rgba(0, 0, 0, 0.5), inset 0px -2px 0 0 rgba(0, 0, 0, 0.1);
      text-shadow: 0.8px 0.5px 2px rgba(32, 39, 43, 0.46);

      font-family: $avenir;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;

      @media(max-width: 991px){
        @include timestamp;
      }
    }
  }


  &__date {
    display: inline-block;
    flex-shrink: 0;

    min-width: 290px;
    margin-bottom: 16px;
    padding: 14px 14px 12px;

    text-align: center;
    letter-spacing: -0.9px;

    color: rgb(255, 255, 255);
    border-radius: 3px;
    background-color: rgb(176, 72, 168);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    box-shadow: 1px 1.7px 2px 0 rgba(0, 0, 0, 0.5), inset 0px -2px 0 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0.8px 0.5px 2px rgba(32, 39, 43, 0.46);

    font-family: $avenir;
    font-weight: 400;
    line-height: 1;

    @include timestamp;
  }

  &__milestone {
    text-transform: capitalize;
    display: block;
    text-align: right;
    margin-bottom: 12px;
    font-family: $avenir;
    font-size: 16px;
    font-weight: 600;
    color: #481473;
  }

  &__text {
    font-family: $avenir;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: right;
    color: #2c252c;
  }
}
