@font-face {
  font-family: 'AvenirNextW1G-Light';
  src: url('AvenirNextW1G-Light.eot');
  src: url('AvenirNextW1G-Light.woff2') format('woff2'),
       url('AvenirNextW1G-Light.woff') format('woff'),
       url('AvenirNextW1G-Light.ttf') format('truetype'),
       url('AvenirNextW1G-Light.svg#AvenirNextW1G-Light') format('svg'),
       url('AvenirNextW1G-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

