.faq {
  padding-top: 50px;
  padding-bottom: 40px;

  @media (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 90px;
  }

  @media (min-width: 992px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__heading {
    margin-bottom:  64px;
  }

  &__group:not(:last-of-type) {
    margin-bottom: 75px;
    @media(min-width: 768px) { margin-bottom: 110px; }
    @media(min-width: 992px) { margin-bottom: 165px; }
  }

  &__pair {
    margin-bottom: 25px;
    width: 100%;
    max-width: 1074px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #d7d7d7, #fcfcfc), linear-gradient(#ffffff, #ffffff);
    box-shadow: 0px 7px 13px 0 rgba(1, 2, 2, 0.15);
    margin: auto;

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }

  }

  &__question {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(225, 139, 155,.9) 0%, rgba(201, 100, 124,.9));
    box-shadow: 0px 2px 3px 0 rgba(1, 2, 2, 0.15);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 18px 40px 18px 100px;

    font-family: $avenir;
    font-size: 21px;
    line-height: 1;
    color: rgba(248, 248, 248, 0.89);
    text-shadow: 0px 2px 3px rgba(1, 2, 2, 0.15);
    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      width: 17px;
      height: 30px;
      top: 50%;
      transform: translateY(-50%);
      left: 46px;
      background: transparent url('../assets/imgs/icon-faq-arrow.png') center no-repeat;
      background-size: 100%;
    }

    &[aria-expanded="false"] {
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  &__answer {
    padding: 16px 54px 16px 100px;

    &-container {
      box-shadow: 0px 2px 3px 0 rgba(1, 2, 2, 0.15);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    font-family: $avenir;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    color:  #5e5d5d;;
    text-shadow: 0px 2px 3px rgba(1, 2, 2, 0.15);
    margin: 0;
    letter-spacing: -0.2px;
  }
}
