.btn {
  position: relative;

  display: inline-block;

  padding: 10px 21px;

  transition: box-shadow .1s ease-in;
  letter-spacing: -0.4px;
  text-transform: uppercase;

  color: white;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(180deg, #a33282, #501d69);
  box-shadow: 0px 0px 32px 9px rgba(132, 28, 185, .15);

  font-family: $avenir;
  font-size: 12px;

  &:focus {
    color: white;
  }

  &:active {
    background-image: linear-gradient( 76deg, rgb(80,29,105) 0%, rgb(163,50,130)100%);
  }

  &:hover {
    color: white;
    box-shadow: 0px 0px 15px 3px rgba(132, 28, 185, .3);
  }

  @media (min-width: 768px) {
    padding: 13px 32px;

    font-size: 15px;
  }

  @media (min-width: 992px) {
    padding: 16px 48px;

    font-size: 17px;
  }

  &--white {
    min-width: 220px;
    margin-right: 14px;
    margin-left: 14px;
    padding-right: 2px;
    padding-left: 20px;

    color: #56387b;
    background-image: linear-gradient(to top, #d7d7d7, #ffffff), linear-gradient(#e5e6d6, #e5e6d6);
    box-shadow: 0px 11px 13px 0 rgba(1, 2, 2, 0.15);

    &:focus {
      color: #56387b;
      outline: none;
    }

    &:hover {
      color: #56387b;
      box-shadow: 0px 4px 8px 0 rgba(1, 2, 2, 0.45);
    }

    &:active {
      background-image: linear-gradient(to bottom, #d7d7d7, #ffffff), linear-gradient(#e5e6d6, #e5e6d6);
    }
  }
}
