.discount {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 375px;
  margin: auto;
  margin-bottom: 60px;

  @media(min-width: 992px) {
    margin-bottom: 0;
  }

  @media(min-width: 1200px) {
    margin-top: 78px;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;

    text-align: center;
    letter-spacing: -1.9px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.9);

    font-family: $avenir;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;

    &--view {
      &--finished {
        font-weight: bold;
        letter-spacing: 0;
        margin-bottom: 5px;
      }

      &--collected {
        font-size: 26px;
        color: rgba(255, 255, 255, .8);
        letter-spacing: 0;
        font-weight: normal;
        max-width: 1175px;
        text-shadow: 3px 0 5px rgba(35, 31, 32, .5);
        margin-bottom: 10px;
      }
    }

    &-content {
      width: auto;
      padding: 0 40px;
    }

    &-divider {
      flex-grow: 1;

      height: 2px;
      background-color: rgba(255, 255, 255, .8);
      box-shadow: 3px 0 5px 0 rgba(35, 31, 32, .5);
    }
  }

  &__offering {
    margin-bottom: 28px;

    & svg {
        overflow: visible;
    }

    & text {
      display: block;

      text-transform: uppercase;

      font-family: $avenir;
      font-size: 74px;
      font-weight: 600;
      line-height: 1;
    }
  }

  &__btn {
    display: block;

    box-sizing: border-box;
    width: 90%;
    padding: 18px 32px;

    transition: box-shadow .2s ease-in;
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    color: #ffffff;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #de6391 29%, #be3a63 80%);
    box-shadow: 0px 15px 70px 0px rgba(35, 31, 32, 0.3),
      0px 0px 15px 9px rgba(225, 103, 141, 0.35),
      inset 0px 0px 32px 9px rgba(225, 103, 141, 0.3);
    text-shadow: 0 0 1.9px rgba(0, 15, 41, 0.28);

    font-family: $avenir;
    font-size: 21px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &:focus {
      text-decoration: none;

      color: #ffffff;
    }

    &:hover {
      text-decoration: none;

      color: #ffffff;
      box-shadow: 0px 6px 25px 0px rgba(35, 31, 32, 0.4),
        0px 0px 25px 6px rgba(225, 103, 141, 0.6),
        inset 0px 0px 25px 6px rgba(225, 103, 141, 0.6);
    }

    &:active {
      background-image: linear-gradient(0, #de6391 29%, #be3a63 80%);
    }

    &--white {
      background-image: linear-gradient(to top, rgb(215, 215, 215), rgb(255, 255, 255)), linear-gradient(rgb(229, 230, 214), rgb(229, 230, 214));
      box-shadow: 0px 11px 13px 0 rgba(1, 2, 2, 0.15);
      box-shadow: 0px 11px 13px 0 rgba(1, 2, 2, 0.15);
      color: rgb(86, 56, 123);

      &:hover {
        box-shadow: 0px 4px 8px 0 rgba(1, 2, 2, 0.45);
        color: rgb(86, 56, 123);
      }

      &:active {
      	background-image: linear-gradient(to bottom, rgb(215, 215, 215), rgb(255, 255, 255)), linear-gradient(rgb(229, 230, 214), rgb(229, 230, 214));
        color: rgb(86, 56, 123);
      }
    }

  }
}
