.header {
  @mixin glow-text() {
    &:before {
      content: '';
      position: absolute;
      width: 110%;
      height: 20px;
      background-color: transparent;
      top: 50%;
      transform: translate(-50%, -50%);
      filter: blur(10px);
      left: 50%;
      border: 5px solid rgba(255, 255, 255, 1);
      border-radius: 10px;
    }
  }

  background-color: rgba(0, 0, 0, 0);

  &__bg {
    background: $color1 linear-gradient( 101deg, $color1 0%, $color2 100%);
  }

  &__toggle {
    top: 14px;

    display: inline-block;

    transition: background-color .2s ease-in;

    background-color: rgba(255, 255, 255, 0);

    &:focus {
      outline: none;
    }

    &[aria-expanded="true"] {
      background-color: rgba(255, 255, 255, .1);
    }

    &-icon {
      color: white;
    }
  }

  &__logo {
    display: inline-block;

    height: auto;
    padding-top: 8px;
  }

  &__menu {
    display: flex;
    flex-flow: column nowrap;

    width: 100%;
    margin: 20px 0;
    padding: 0;

    list-style: none;

    @media (min-width: 1200px) {
      align-items: baseline;
      flex-flow: row wrap;
      justify-content: flex-end;

      margin: 0;
    }

    &-item {
      @media (min-width: 1200px) {
        margin-left: 20px;
      }
    }

    &-btn {
      margin-top: 15px;

      @media (min-width: 1200px) {
        margin-top: 0;
        margin-left: 30px;
      }

      @media (min-width: 1366px) {
        margin-left: 45px;
      }
    }
  }

  &__link {
    display: block;
    position: relative;

    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0);

    color: white;

    font-family: $avenir;
    font-size: $font-size-header;
    line-height: 1;

    &:hover {
      border-bottom: 1px solid white;
      text-decoration: none;
      color: #ffddeb;

      @media (min-width: 1200px) {
        padding-bottom: 0;
        border-bottom: none;

        @include glow-text();
      }
    }

    &:focus {
      text-decoration: none;

      color: white;
      outline: none;
    }

    &:active {
      color: rgba(255, 255, 255, .7);
      border-bottom: 1px solid rgba(0,0,0,0);
      text-shadow: none;
    }

    @media (min-width: 1200px) {
      display: inline-block;
      margin: 0 10px;
      padding: 0 0;
    }

    &.active {
      cursor: pointer;
      color: #ffddeb;
      border-bottom: 1px solid white;

      @media (min-width: 1200px) {
        border-bottom: none;
        text-decoration: underline;

        @include glow-text();
      }
    }
  }

  &__dropdown {
    position: relative;

    &-btn {
      position: relative;

      display: block;

      width: 100%;
      padding: 15px 0;

      text-align: left;

      color: white;
      border: none;
      border-bottom: 1px solid rgba(0,0,0,0);
      background-color: rgba(0,0,0,0);

      font-family: $avenir;
      font-size: $font-size-header;
      line-height: 1;


      &:active {
        color: rgba(255, 255, 255, 0.7);
      }

      &:hover {
        @media(max-width: 1199px) {
          border-bottom: 1px solid white;
        }

        @media (min-width: 1200px) {
          @include glow-text();
        }
      }

      &[aria-expanded="true"] {
        cursor: pointer;

        border-bottom: 1px solid white;

        @media (min-width: 1200px) {
          text-decoration: underline;

          border: none;

          @include glow-text();
        }
      }

      @media (min-width: 1200px) {
        display: inline-block;

        padding: 0;
      }
    }

    &-menu {
      position: static;
      top: 38px;
      left: -52px;

      padding: 7px 15px;

      opacity: 0.95;
      border: 1px solid rgb(184, 150, 187);
      background-color: $color1;

      @media (min-width: 1200px) {
        position: absolute;
      }

      & .dropdown-item {
        position: relative;

        padding: 8px 10px 8px 30px;

        color: rgb(184, 150, 187);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        font-family: $avenir;
        font-size: $font-size-header;
        font-weight: 300;
        line-height: 1;

        &:hover {
          color: #f7e1fe;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          background-color: rgba(0,0,0,0);

          &:before {
            background-color: rgba(255,255,255,0.75);
          }
        }

        &:before {
          position: absolute;
          top: 50%;
          left: 2px;

          width: 4px;
          height: 4px;

          content: '';
          transform: translateY(-50%);

          border-radius: 100%;
          background-color: rgba(255,255,255,0.6);
        }
      }
    }
  }

  &__btn {
    position: relative;

    display: inline-block;

    padding: 10px 45px 10px;

    user-select: none;
    text-align: center;
    vertical-align: middle;

    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: rgba(255, 255, 255, 0.29);
    box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2),
                      0px 3px 8px 0px rgba(0, 0, 0, 0.09);

    font-weight: 400;
    line-height: 1;

    &:focus {
      text-decoration: none;

      color: white;
    }

    &:hover {
      text-decoration: none;

      color: white;
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: inset 0px 1px 2px 0 rgba(255, 255, 255, 0.4),
                        0px 1px 16px 0px rgba(0, 0, 0, 0.2);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.35);
      box-shadow: inset 0px -1px 2px 0 rgba(255, 255, 255, 0.4),
                  inset 0px 1px 2px 0 rgba(0, 0, 0, 0.2),
                        0px 1px 16px 0px rgba(0, 0, 0, 0.3);
    }

    & .btn__text {
      text-transform: uppercase;

      font-size: $font-size-header;
    }
  }
}
