.ads {
  padding-top: 146px;
  padding-bottom: 23px;

  &__heading {
    margin-bottom: 37px;
  }

  &__text {
    margin: 0 auto 101px;

    @media(min-width: 992px) {
      width: 609px;
    }
  }

  &__tabs {
    margin: 0 0 55px;
    padding: 0;
    list-style: none;

    &-container {
      text-align: center;

      &:first-of-type {
        text-align: right;
      }
      &:last-of-type {
        text-align: left;
      }
    }

    @media (min-width: 768px) {
      margin: 0 0 100px;
    }

    @media (min-width: 992px) {
      margin: 0 0 150px;
    }

    @media (min-width: 1200px) {
      margin: 0 0 185px;
    }
  }

  &__tab {
    display: inline-block;
    width: 100%;
    font-family: $avenir;
    font-weight: 300;
    color: #65616d;
    text-shadow: 0 0 1.9px rgba(0, 15, 41, 0.28);
    text-transform: uppercase;
    text-align: center;
    padding: 9px 0 8px;
    background-image: linear-gradient(to bottom, rgba(243, 243, 243, 0.15), rgba(221, 221, 221, 0.15)), linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    box-shadow: 0px 9px 50px 0 rgba(35, 31, 32, 0.1);

    &:focus {
      color: #65616d;
    }

    &:hover {
      color: #65616d;
      background-image: linear-gradient(to bottom, rgba(243, 243, 243, 0.45), rgba(221, 221, 221, 0.45)), linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
      box-shadow: 0px 9px 25px 0 rgba(35, 31, 32, 0.2);
    }

    &.active {
      font-weight: 600;
      color: white;
      text-shadow: 0 0 1.9px rgba(0, 15, 41, 0.28);
      border-radius: 10px;
      background-image: linear-gradient(168deg, #853582 27%, #4b2669);
      box-shadow: 0px 13px 50px 0px rgba(35, 31, 32, 0.2),
                  0px 0px 30px 9px rgba(132, 28, 185, 0.3);

      &:focus {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        color: white;
        box-shadow: 0px 13px 50px 0px rgba(35, 31, 32, 0.2),
                    0px 0px 30px 9px rgba(132, 28, 185, 0.4);
      }

      &:active {
        background-image: linear-gradient(166deg, #4b2669 27%, #853582);
        box-shadow: 0px -13px 50px 0px rgba(35, 31, 32, 0.2),
                    0px 0px 15px 3px rgba(132, 28, 185, 0.5);
      }

    }

    @media(min-width: 992px) {
      padding: 16px 0 15px;
      width: auto;
      min-width: 185px;
    }

  }

  &__item {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 110px;

    &-icon {
      position: absolute;
      top: 0;
      left: 0;

      &-container {
        position: relative;
        width: 68px;
      }

      &--lamp {
        top: -11px;
        width: 33px;
        height: 48px;
        background: transparent url('../assets/imgs/icon-lamp.png') no-repeat;
        background-size: 100%;
      }
      &--browser {
        top: -4px;
        width: 43px;
        height: 34px;
        background: transparent url('../assets/imgs/icon-browser.png') no-repeat;
        background-size: 100%;
      }
      &--gamepad {
        top: -5px;
        width: 49px;
        height: 35px;
        background: transparent url('../assets/imgs/icon-gamepad.png') no-repeat;
        background-size: 100%;
      }
      &--resize {
        top: -4px;
        width: 34px;
        height: 34px;
        background: transparent url('../assets/imgs/icon-resize.png') no-repeat;
        background-size: 100%;
      }
      &--cart {
        top: -8px;
        width: 48px;
        height: 42px;
        background: transparent url('../assets/imgs/icon-cart.png') no-repeat;
        background-size: 100%;
      }
      &--gift {
        top: -10px;
        width: 43px;
        height: 46px;
        background: transparent url('../assets/imgs/icon-gift.png') no-repeat;
        background-size: 100%;
      }
    }

    &-content {
      width: 82.6%;
    }

    &-heading {
      font-size: 24px;
      margin-bottom: 12px;
      text-align: left;
      color: #494949;
      font-family: $avenir;
      font-weight: 600;

      @media(min-width: 768px) {
        margin-bottom: 24px;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 1.743;
      color: #7c7c7c;
      font-family: $avenir;
      font-weight: 300;
    }
  }
}
