.cta {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-right: -15px;
  margin-left: -15px;
  background-image: linear-gradient(169deg, #85338c, #4a246f);

  @media(min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  @media(min-width: 1200px) {
    padding-top: 76px;
    padding-bottom: 185px;
  }

  &__heading {
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 0;
    font-family: $avenir;
    font-weight: 300;
  }

  &__text {
    font-size: 24px;
    font-family: $avenir;
    font-weight: 300;
    text-align: center;
    color: #c57cae;
    margin-bottom: 60px;
    text-transform: uppercase;

    @media(min-width: 768px) {
      margin-bottom: 128px;
    }
  }
}

.discount {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 395px;
  margin: auto;
  margin-bottom: 70px;

  @media(min-width: 992px) {
    margin-bottom: 0;
  }

  &__heading {
    margin-bottom: 32px;

    font-size: 46px;
    line-height: 1.04;
    font-family: $avenir;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: -1.9px;
    text-transform: uppercase;
    text-align: center;
  }

  &__offering {
    margin-bottom: 38px;

    & svg {
        overflow: visible;
    }

    & text {
      display: block;
      font-size: 78px;
      font-family: $avenir;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 0.718;
    }
  }

  &__btn {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    background-image: linear-gradient(166deg, #de6391 29%, #be3a63 80%);
    box-shadow: 0px 15px 70px 0px rgba(35, 31, 32, 0.3),
      0px 0px 15px 9px rgba(225, 103, 141, 0.35),
      inset 0px 0px 32px 9px rgba(225, 103, 141, 0.3);
    font-family: $avenir;
    font-size: 24px;
    padding: 18px 32px;
    letter-spacing: 0.6px;
    color: #ffffff;
    text-shadow: 0 0 1.9px rgba(0, 15, 41, 0.28);
    text-transform: uppercase;
    text-align: center;
    transition: box-shadow .2s ease-in;

    &:focus {
      color: #ffffff;
      text-decoration: none;
    }

    &:hover {
      color: #ffffff;
      text-decoration: none;
      box-shadow: 0px 6px 25px 0px rgba(35, 31, 32, 0.4),
        0px 0px 25px 6px rgba(225, 103, 141, 0.6),
        inset 0px 0px 25px 6px rgba(225, 103, 141, 0.6);
    }

    &:active {
      background-image: linear-gradient(346deg, #de6391 29%, #be3a63 80%);
    }

  }
}

.infographic {
  width: 100%;
  max-width: 550px;
  margin: auto;

  @media(min-width: 1200px) {
    margin-top: -64px;
  }

  &__divider {
    position: relative;
    padding-bottom: 42px;
    &:after {
      width: 100%;
      height: 1px;
      opacity: 0.3;
      background-color: #f5fcf4;
      content: '';
      position: absolute;
      bottom: 0;
    }
  }
}

.timer {
  margin-bottom: 20px;
  &__date {
    &s{
      margin-bottom: 25px;
      text-align: center;
      font-family: $avenir;
      font-size: 24px;
      letter-spacing: 0.6px;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0px 9px 8px rgba(35, 31, 32, 0.2);
      text-transform: uppercase;
    }
  }

  &__counter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__divider {
    width: 10px;
    height: 10px;
    opacity: 0.8;
    border-radius: 4.5px;
    background-color: #f9e8fe;
  }

  &__property {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      min-width: 101px;
      min-height: 101px;
      border-radius: 10px;
      padding: 5px;
      background-color: rgba(45, 20, 55, .4);
    }

    &-name {
      display: block;
      font-family: $avenir;
      font-size: 20.1px;
      line-height: 1;
      letter-spacing: -0.5px;
      text-align: center;
      display: block;
      color: #ceafff;
    }

    &-value {
      font-family: $avenir;
      font-weight: 600;
      font-size: 48.3px;
      line-height: 1;
      letter-spacing: -1.2px;
      text-align: center;
      display: block;
      color: #f9e8fe;
      text-transform: uppercase;
    }
  }
}

.fees-diagram {
  &__currency {
    text-align: right;
    margin-bottom: 30px;
    font-family: $avenir;
    font-size: 30px;
    letter-spacing: -0.8px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 9px 8px rgba(35, 31, 32, 0.2);
  }

  &__form {
    margin-bottom: 39px;
    position: relative;
    width: 100%;
    height: 73px;
    border-radius: 10px;
    background-color: rgba(40,17,49, 0.4);
    box-shadow: inset 0px 2px 7px 0 rgba(0, 0, 0, 0.3);

    &:before,
    &:after {
      content: 'Start';
      font-family: $avenir;
      font-size: 18px;
      letter-spacing: -0.5px;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0px 9px 8px rgba(35, 31, 32, 0.2);
      position: absolute;
      bottom: -39px;
    }

    &:after {
      content: 'Hard cap';
      left: auto;
      right: 0;
    }

    &[data-cap] {
      margin-bottom: 59px;
    }

    &[data-cap="start"]:before {
      bottom: -59px;
    }

    &[data-cap="finish"]:after {
      bottom: -59px;
    }
  }

  &__reached {
    display: block;
    position: relative;
    border-radius: 10px;
    background-image: linear-gradient(166deg, #de6391 29%, #be3a63 100%);
    box-shadow: 0px 13px 50px 0 rgba(35, 31, 32, 0.2);
    height: 100%;
    border-radius: 10px;

    &:after {
      font-family: $avenir;
      font-size: 18px;
      letter-spacing: -0.5px;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0px 9px 8px rgba(35, 31, 32, 0.2);
      position: absolute;
      right: -34.25px;
      bottom: -39px;
      content: 'Reached';
    }
  }

  &__soft-cap {
    position: absolute;
    z-index: 1;
    left: 15%;
    transform: translateX(-15%);
    font-family: $avenir;
    font-size: 18px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 9px 8px rgba(35, 31, 32, 0.2);
    position: absolute;
    top: -57px;
    width: 67px;
    height: 100%;

    &:before {
      position: absolute;
      top: 33px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      height: 131.5%;
      width: 3px;
      background-image: linear-gradient( 180grad, rgb(238,199,255) 54%, rgb(194,63,105) 100%);
      box-shadow: 0px 0px 8px 0px rgba(35, 31, 32, 0.2);
    }

    &:after {
      content: '';
      position: absolute;
      top: 33px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      background-color: rgb(238, 199, 255);
      box-shadow: 0px 0px 8px 0px rgba(35, 31, 32, 0.2);
      width: 9px;
      height: 10px;
    }
  }
}
