.documents {
  margin: 0 -15px;
  padding-top: 27px;
  padding-bottom: 36px;
  background-color: #eee8ef;

  @media(min-width: 992px) {
    padding-top: 55px;
    padding-bottom: 72px;
  }

  &__heading {
    margin-bottom: 43px;

    @media(min-width: 992px) {
      margin-bottom: 86px;
    }
  }

  &__copy {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    box-shadow: 0px 0px 40px 11px rgba(35, 31, 32, .18);
    transition: all .2s ease-in;

    &:hover {
      transform: translateY(-20px) scale(1.1);
    }

    @media(min-width: 992px) {
      margin-bottom: 30px;
    }
  }

  &__name {
    font-size: 29.1px;
    letter-spacing: -0.7px;
    line-height: 100%;
    color: #4e4d4d;
    font-family: $avenir;
    display: block;
    text-align: center;
    margin-bottom: 20px;

    @media(min-width: 992px) {
      margin-bottom: 45px;
    }
  }
}
