@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaDemiC.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaLightC.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaBookC.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaMediumC.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
