.header {
  background-color: rgba(0, 0, 0, 0);

  &__bg {
    background-color: $main-color;
  }

  &__navbar {
    padding-top: 7px;
    padding-bottom: 20px;

    @media (min-width: 1200px) {
      padding-right: 57px;
      padding-left: 35px;
    }
  }

  &__menu {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;

    margin: 20px -10px;
    padding: 0;

    list-style: none;

    &-item {
      @media (min-width: 992px) {
        padding-left: 12px;
      }

      @media (min-width: 1200px) {
        padding-left: 20px;
      }

      @media (min-width: 1366px) {
        padding-left: 36px;
      }
    }

    &-btn {


      @media (min-width: 1200px) {
        padding-left: 30px;
      }

      @media (min-width: 1366px) {
        padding-left: 65px;
      }
    }

    @media (min-width: 1200px) {
      height: 38px;
      flex-flow: row nowrap;
      align-items: baseline;
      justify-content: flex-end;

      margin: 0;
    }
  }

  &__btn {
    position: relative;

    padding: 16px 49px;

    background-color: rgba(255, 255, 255, 0.29);
    box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2),
                      0px 3px 8px 0px rgba(0, 0, 0, 0.09);

    & .btn__text {
      text-transform: uppercase;

      font-style: 18px;
    }

  }

  &__toggle {
    display: inline-block;
    &-icon {
      color: white;
    }

  }

  &__link {
    display: block;

    padding: 10px 10px;

    color: white;

    font-size: 18.1px;
    line-height: 30.1px;

    &:hover {
      text-decoration: none;

      color: white;
      border-bottom: 1px solid white;
      text-shadow: 2px 2px $main-color-dark;
    }

    &:focus {
      text-decoration: none;
      outline: none;

      color: white;
    }

    &:active {
      color: rgba(255, 255, 255, .7);
      border-bottom: 0;
      text-shadow: none;
    }

    @media (min-width: 992px) {
      margin: 0 10px;
      padding: 0 0;
    }
  }

  &__logo {

    @media(min-width: 1200px) {
      height: 63px;
      padding-top: 25px;
    }
  }
}
