.header {
  background-color: rgba(0, 0, 0, 0);

  &__bg {
    background: $main-color linear-gradient( 101deg, rgb(74,36,111) 0%, rgb(133,51,140) 100%);
  }

  &__navbar {
    padding-top: 7px;

    @media (min-width: 1366px) {
      padding-right: 63px;
      padding-left: 39px;
    }
  }

  @mixin glow-text() {
    &:before {
      content: '';
      position: absolute;
      width: 110%;
      height: 20px;
      background-color: transparent;
      top: 50%;
      transform: translate(-50%, -50%);
      filter: blur(10px);
      left: 50%;
      border: 5px solid rgba(255, 255, 255, 1);
      border-radius: 10px;
    }
  }

  &__menu {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;

    margin: 20px 0;
    padding: 0;

    list-style: none;

    @media (min-width: 1200px) {
      min-height: 38px;
      flex-flow: row nowrap;
      align-items: baseline;
      justify-content: flex-end;

      margin: 0;
    }

    &-item {
      padding: 0;

      @media (min-width: 1200px) {
        padding-left: 20px;
      }

      @media (min-width: 1366px) {
        padding-left: 23px;
      }
    }

    &-btn {
      padding-top: 15px;

      @media (min-width: 1200px) {
        padding-top: 0;
        padding-left: 30px;
      }

      @media (min-width: 1366px) {
        padding-left: 43px;
      }
    }
  }

  &__dropdown {
    position: relative;

    &-btn {
      position: relative;
      background-color: rgba(0,0,0,0);
      border: none;
      border-bottom: 1px solid rgba(0,0,0,0);
      color: white;
      font-family: $avenir;
      font-size: 18.1px;
      line-height: 30.1px;
      padding: 15px 0;
      display: block;
      width: 100%;
      text-align: left;


      &:active {
        color: rgba(255, 255, 255, 0.7);
      }

      &:hover {
        @media(max-width: 1199px) {
          border-bottom: 1px solid white;
        }

        @media(min-width: 1200px) {

          @include glow-text();
        }
      }

      &[aria-expanded="true"] {

        border-bottom: 1px solid white;
        cursor: pointer;

        @media(min-width: 1200px) {
          border: none;

          text-decoration: underline;
          @include glow-text();
        }
      }

      @media(min-width: 1200px) {
        padding: 0;
        display: inline-block;
      }
    }

    &-menu {
      position: static;
      top: 38px;
      left: -52px;
      padding: 7px 14px 18px;
      border: 1px solid rgb(184, 150, 187);
      background-color: rgb(77, 36, 100);
      opacity: 0.949;

      @media(min-width: 1200px) {
        position: absolute;
      }

      & .dropdown-item {
        position: relative;
        color: rgb(184, 150, 187);
        font-family: $avenir;
        line-height: 16px;
        font-size: 16px;
        padding: 9px 13px 9px 34px;
        font-weight: 300;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:hover {
          background-color: rgba(0,0,0,0);
          color: #f7e1fe;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);

          &:before {
            background-color: rgba(255,255,255,0.75);
          }
        }

        &:before {
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 100%;
          top: 50%;
          transform: translateY(-50%);
          left: 2px;
          background-color: rgba(255,255,255,0.6);
        }
      }

    }
  }

  &__btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    color: white;

    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: relative;

    padding: 10px 44px 10px;

    background-color: rgba(255, 255, 255, 0.29);
    box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2),
                      0px 3px 8px 0px rgba(0, 0, 0, 0.09);

    &:focus {
      color: white;
      text-decoration: none;
    }

    &:hover {
      color: white;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: inset 0px 1px 2px 0 rgba(255, 255, 255, 0.4),
                        0px 1px 16px 0px rgba(0, 0, 0, 0.2);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.35);
      box-shadow: inset 0px -1px 2px 0 rgba(255, 255, 255, 0.4),
                  inset 0px 1px 2px 0 rgba(0, 0, 0, 0.2),
                        0px 1px 16px 0px rgba(0, 0, 0, 0.3);
    }

    & .btn__text {
      text-transform: uppercase;

      font-size: 16px;
    }

  }

  &__toggle {
    display: inline-block;
    &-icon {
      color: white;
    }

  }

  &__link {
    display: block;
    position: relative;

    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0);

    color: white;

    font-family: $avenir;
    font-size: 16.1px;
    line-height: 27.1px;

    &:hover {
      border-bottom: 1px solid white;
      text-decoration: none;
      color: #ffddeb;

      @media (min-width: 1200px) {
        padding-bottom: 0;
        border-bottom: none;

        @include glow-text();
      }
    }

    &:focus {
      text-decoration: none;

      color: white;
      outline: none;
    }

    &:active {
      color: rgba(255, 255, 255, .7);
      border-bottom: 1px solid rgba(0,0,0,0);
      text-shadow: none;
    }

    @media (min-width: 1200px) {
      display: inline-block;
      margin: 0 10px;
      padding: 0 0;
    }

    &.active {
      cursor: pointer;
      color: #ffddeb;
      border-bottom: 1px solid white;

      @media(min-width: 1200px) {
        border-bottom: none;
        text-decoration: underline;

        @include glow-text();
      }
    }
  }

  &__logo {
    display: inline-block;
    height: auto;
    padding-top: 8px;
  }

  &__toggle {
    top: 14px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .2s ease-in;

    &[aria-expanded="true"] {

      background-color: rgba(255, 255, 255, .1);
    }

    &:focus {
      outline: none;
    }
  }
}
