.main-info {
  position: relative;

  display: block;

  margin: 0 -15px;
  padding-top: 98px;
  padding-bottom: 60px;
  z-index: 2;

  @media (min-width: 992px) {
    padding-bottom: 70px;
  }

  @media (min-width: 1200px) {
    padding-top: 132px;
    padding-bottom: 170px;
  }

  &--index {
    background: transparent url('../assets/imgs/index-main-bg.png') no-repeat;
    background-position: 50% bottom;
    background-size: cover;
  }

  &__btn {
    &s{
      text-align: center;
    }

    &--email {
      padding: 20px 25px;
      padding-right: 92px;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 31px;
        transform: translateY(-50%);
        background: transparent url('../assets/imgs/icon-mail.png');
        background-size: 100%;
        height: 26px;
        width: 37px;
      }
    }

    &--support {
      padding: 20px 15px;
      padding-left: 65px;

      color: #b13879;
      &:focus {
        color: #b13879;
      }
      &:hover {
        color: #b13879;
      }
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);
        background: transparent url('../assets/imgs/icon-chat.png');
        background-size: 100%;
        width: 37px;
        height: 34px;
      }
    }

    &--arbiters {
      padding-right: 48px;
      padding-left: 48px;
      font-size: 19px;

    }

    &--arbiter-form {
      padding: 17px 70px 17px 30px;
      font-size: 19px;

      &:before {
        content: '';
        position: absolute;
        width: 23px;
        height: 14px;
        background: transparent url('../assets/imgs/icon-arrow-down.png');
        background-size: 100%;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
      }
    }

    &--ico {
      padding-right: 0;
      padding-left: 0;
      min-width: 226px;
      font-size: 24px;
    }
  }
}

.jumbo {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  &__logo {
    margin: 0;
    margin-bottom: 20px;
    width: 350px;
    height: auto;
  }

  &__heading {
    margin: 0 0 47px;
  }

  &__text {
    text-align: center;
    letter-spacing: 0.8px;

    color: #fff;

    font-family: $avenir;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

    &-appeal {
      display: block;
      margin-bottom: 25px;
      font-weight: 400;
      text-align: center;
    }
  }

  @media (min-width: 1200px) {
    padding-top: 50px;
  }
}

.signup {
  display: flex;
  flex-flow: column nowrap;

  width: 315px;
  min-height: 431px;
  margin: auto;

  border: solid 1px #6a3681;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);

  &__heading {
    display: block;

    padding: 19px 0 18px;
    margin: 0;

    text-align: center;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);

    font-family: $avenir;
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
  }

  &__form {
    padding: 16px 26px 15px;
  }

  &__input {
    width: 100%;
    height: 51px;
    padding: 18px;

    color: #42285b;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1),
                inset 0px 1px 0px 0px rgba(0, 0, 0, 0.15);

    font-family: $avenir;
    font-size: 19px;

    &:not(:last-of-type) {
      margin-bottom: 13px;
    }

    &::placeholder {
      text-align: center;
      text-transform: uppercase;

      opacity: 1;
      color: #42285b;

      font-family: $avenir;
      font-size: 18px;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2),
                  inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
    }

  }

  &__terms {
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
    flex-flow: row nowrap;

    &-list {
      margin-top: 11px;
      margin-bottom: 11px;
      padding: 5px 14px;
      width: 100%;

      & p {
        line-height: 100%;
        margin-bottom: 0;

        letter-spacing: -0.4px;

        color: rgba(255, 255, 255, 0.6);

        font-family: $avenir;
        font-size: 14px;
        font-weight: 300;

        &:not(:last-child) {
          margin-bottom: 11px;
        }
      }
    }

    &-checkbox {
      position: relative;

      width: 58px;

      border-left: 1px solid rgba(255, 255, 255, 0.2);

      input[type="checkbox"] {
        display: none;
      }

      &-icon {
        position: absolute;
        top: 50%;
        right: 14px;

        width: 24px;
        height: 24px;

        cursor: pointer;
        transform: translateY(-50%);

        &:after {
          position: absolute;
          bottom: 0px;
          left: 0px;

          width: 20px;
          height: 20px;

          content: '';

          border: 2px solid rgba(255, 255, 255, 0.4);
          border-radius: 100%;

          input[type="checkbox"]:checked ~ & {
            display: none;
          }
        }

        input[type="checkbox"]:checked ~ & {
          border: none;
          background: transparent url('../assets/imgs/icon-signup.png') center no-repeat;
        }
      }
    }
  }

  &__btn {
    position: relative;

    width: 100%;
    padding: 15px 0;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: white;
    border: none;
    border-radius: 10px;
    background-image:  linear-gradient(180deg, #de6391 29%, #be3a63 90%);
    box-shadow: 0px 1px 0px 0px rgba(21, 31, 123, 0.2), 0px 0px 32px 7px rgba(225, 103, 144, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    text-shadow: 0px 1px 2.9px rgba(8, 11, 45, 0.27);

    font-family: $avenir;
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;

    &:hover {
      box-shadow: 0px 1px 0px 0px rgba(21, 31, 123, 0.54),
                  0px 0px 32px 7px rgba(225, 103, 144, 0.34),
                  inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    }

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
      background-image:  linear-gradient(180deg, #be3a63 9%, #de6391 69%);
      box-shadow: 0px -1px 0px 0px rgba(21, 31, 123, 0.54),
                  0px 0px 32px 7px rgba(225, 103, 144, 0),
                  inset 0px -1px 0px 0px rgba(255, 255, 255, 0.4);
    }
  }

  &__socials-auth {
    margin-top: 10px;
  }
}

.socials-auth {
  display: flex;
  flex-flow: column nowrap;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  &__divider {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 15px;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc(50% - 20px);
      right: 0;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.4);
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: calc(50% - 20px);
      height: 1px;
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    list-style: none;
    padding: 0 33px;
    margin: 0;
  }

  &__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--facebook {
      background: transparent url('../assets/imgs/icon-facebook.png') center no-repeat;
      background-position: 6px 50%;
      opacity: .4;
    }
    &--google {
      background: transparent url('../assets/imgs/icon-google-plus.png') center no-repeat;
      opacity: .4;
      background-size: 70%;
    }
    &--github {
      background: transparent url('../assets/imgs/icon-github.png') center no-repeat;
      opacity: .4;
      background-position: 50% 120%;
      background-size: 80%;
    }
  }

  &__link {
    position: relative;
    display: block;

    width: 29px;
    height: 29px;

    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 100%;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.6);

      & .socials-auth__icon {
        opacity: .6;
      }
    }

    &:focus {
      outline: none;
    }

    &:active {
      border: 2px solid rgba(255, 255, 255, 0.8);

      & .socials-auth__icon {
        opacity: .8;
      }
    }
  }
}

.main-info--faq {
  background: transparent url('../assets/imgs/faq-main-bg.jpg') no-repeat;
  background-position: 50% bottom;
  background-size: cover;

  box-shadow: 0 7px 30px 13px rgba(0,0,0, .15);

  @media (min-width: 992px) {
    padding-bottom: 70px;
  }

  @media (min-width: 1200px) {
    padding-top: 210px;
    padding-bottom: 170px;
  }

  & .heading-1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 48.5px;
    text-shadow: 0 0 4.8px rgba(0, 0, 0, 0.21);

    @media (min-width: 992px) {
      margin-bottom: 16px;
    }
  }

  & .jumbo__text {
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    line-height: 2.1;
    letter-spacing: 0.2px;
    text-shadow: 0 0 4.8px rgba(0, 0, 0, 0.21);

    @media (min-width: 992px) {
      margin-bottom: 40px;
    }
  }
}

.main-info--arbiters {
  padding-top: 110px;
  background: transparent url('../assets/imgs/arbiters-main-bg.jpg') no-repeat;
  background-position: 50% center;
  background-size: cover;

  box-shadow: 0 7px 30px 13px rgba(0,0,0, .15);

  @media (min-width: 992px) {
    padding-top: 210px;
    padding-bottom: 70px;
  }

  @media (min-width: 1200px) {
    padding-top: 360px;
    padding-bottom: 170px;
  }

  & .heading-1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 48.5px;
    text-shadow: 0 0 4.8px rgba(0, 0, 0, 0.21);
    margin-bottom: 9px;

    @media (min-width: 992px) {
      margin-bottom: 36px;
    }
  }

  & .jumbo__text {
    color: rgba(255, 255, 255, 0.9);
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.2px;
    font-weight: 300;
    text-shadow: 0 0 4.8px rgba(0, 0, 0, 0.21);

    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 28px;

      @media (min-width: 768px) {
        margin-bottom: 56px;
      }
    }
  }
}

.main-info--ico {
  padding-top: 110px;
  background: transparent url('../assets/imgs/ico-main-bg.jpg') no-repeat;
  background-position: 50% bottom;
  background-size: cover;

  box-shadow: 0 7px 30px 13px rgba(0,0,0, .15);

  @media (min-width: 992px) {
    padding-top: 190px;
    padding-bottom: 73px;
  }

  & .heading-1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 48.5px;
    text-shadow: 0 0 4.8px rgba(0, 0, 0, 0.21);
    margin-bottom: 30px;
    font-weight: 400;

    @media (min-width: 992px) {
      margin-bottom: 35px;
    }
  }
}

.main-info--news {
  padding-top: 110px;
  background: transparent url('../assets/imgs/news-main-bg.jpg') no-repeat;
  background-position: 50% bottom;
  background-size: cover;

  box-shadow: 0 7px 30px 13px rgba(0,0,0, .15);

  @media (min-width: 992px) {
    padding-top: 212px;
    padding-bottom: 0;
  }

  & .heading-1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 48.5px;
    text-shadow: 0 0 4.8px rgba(0, 0, 0, 0.21);
    margin-bottom: 20px;
    font-weight: 400;

    @media (min-width: 992px) {
      margin-bottom: 26px;
    }
  }

  & .jumbo__text {
    font-size: 23px;
    margin-bottom: 53px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 4.8px rgba(0, 0, 0, 0.21);
  }
}

.main-info--single-news {
  padding: 0;
  height: 350px;
  background: transparent url('../assets/imgs/single-news-main-bg.jpg') no-repeat;
  background-position: 50% center;
  background-size: cover;

  box-shadow: 0 7px 30px 13px rgba(0,0,0, .15);

  @media (min-width: 768px) {
    height: 450px;
  }

  @media (min-width: 992px) {
    height: 580px;
  }

  @media (min-width: 1200px) {
    height: 730px;
  }
}

.main-info--arbiter-form {
  padding-top: 110px;
  background: transparent url('../assets/imgs/arbiter-form-main-bg.jpg') no-repeat;
  background-position: 50% center;
  background-size: cover;

  box-shadow: 0 7px 30px 13px rgba(0,0,0, .15);

  @media (min-width: 1200px) {
    padding-top: 190px;
    padding-bottom: 110px;
  }

  & .heading-1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 48.5px;
    letter-spacing: 1.2px;
    text-shadow: 0 0 4.8px rgba(0, 0, 0, 0.21);
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: 1.2px;

    @media (min-width: 992px) {
      margin-bottom: 30px;
    }
  }

  & .jumbo__text {
    color: rgba(255, 255, 255, 0.9);
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 0.2px;
    font-weight: 300;
    text-shadow: 0 0 4.8px rgba(0, 0, 0, 0.21);
    text-align: justify;
    max-width: 1100px;
    margin: auto;

    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin-bottom: 56px;
    }
  }
}
