.main-info {
  position: relative;
  z-index: 1;

  padding-top: 98px;
  margin: 0 -15px;
  padding-bottom: 40px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 110%;
    max-height: 816px;

    &-lining {
      position: absolute;
      bottom: 0;

      &--layer1 {
        top: 0;
        bottom: auto;

        width: 100%;
        height: 100%;
        max-height: 776px;
      }

      &--layer2 {
        width: 105.78%;
        max-height: 179px;
      }

      &--layer3 {
        width: 105.71%;
        max-height: 217px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: .1;
      background: rgba(0,0,0,0) url(../assets/imgs/index-main-bg.png) no-repeat top center;

      @media (min-width: 1366px) {
        height: 95%;
        background-size: cover;
      }
    }

    @media (min-width: 992px) {
      padding-top: 152px;
    }

    @media (min-width: 1200px) {
      height: 100%;
    }
  }
  @media (min-width: 1200px) {
    min-height: 815px;
    padding-top: 150px;
    padding-bottom: 30px;
  }
}

.jumbo {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  &__logo {
    margin: 0;
    margin-bottom: 20px;
  }

  &__heading {
    margin: 0 0 47px;
  }

  &__text {
    text-align: center;
    letter-spacing: 0.8px;

    color: #fff;

    font-family: $avenir;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
  }

  @media (min-width: 1200px) {
    padding-top: 50px;
  }
}

.login-form {
  display: flex;
  flex-flow: column nowrap;

  width: 350px;
  height: 479px;
  margin: auto;

  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px #6a3681;
  border-radius: 10px;

  &__heading {
    padding: 22px 141px 24px 138px;

    color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);

    font-family: $avenir;
    font-weight: bold;
    line-height: 30.2px;
    text-transform: uppercase;
    font-size: 23.2px;
  }
}
