$main-color: #853582;
$main-color-dark: #501d69;
$main-color-light: #b958d5;

$avenir: 'Futura', 'Arial', sans-serif;

$color1: rgb(77, 36, 100);
$color2: rgb(133,51,140);
$color3: rgb(66, 40, 91);
$color4: rgb(106, 54, 129);
$color5: rgb(222, 99, 145);
$color6: rgb(190, 58, 99);
$font-sz-sm: 12px;
$font-size-header: 17px;
$font-sz-md: 17px;
$font-sz-lg: 20px;
$lh-md: 1.3;
$lh-lg: 1.6;
