// Assets
@import './fonts.scss';
@import './bootfix.scss';
@import './variables.scss';


body {
  min-width: 500px;
}

.heading-1 {
  text-align: center;

  color: rgba(255, 255, 255, 0.95);

  font-family: $avenir;
  font-size: 41px;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-2 {
  position: relative;
  text-align: center;

  color: #4e4d4d;

  font-family: $avenir;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.3;

  &[data-text-abaft]:after {
    content: attr(data-text-abaft);
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 52px;
    line-height: 100%;
    letter-spacing: 3.7px;
    color: rgba(78, 77, 77, 0.05);
    font-family: $avenir;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    overflow:hidden;

    @media (min-width: 768px) {
      font-size: 81px;
      width: auto;
      overflow: inherit;
    }
  }

  @media (min-width: 768px) {
    font-size: 40px;
  }
}

.main-description {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.3;
  color: #4e4d4d;
  text-align: center;
  width: 100%;
}

.profile {
  &__btn {
    width: 100%;
    display: block;

    &-container {
      height: 100%;
    }

    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
    }
  }
}

// Blocks
@import './blocks/header.scss';
@import './blocks/btn.scss';
@import './blocks/main-info.scss';
@import './blocks/signup.scss';
@import './blocks/news-card.scss';
@import './blocks/infographic/base.scss';
@import './blocks/discount.scss';
@import './blocks/arbiter-card.scss';
@import './blocks/input-group.scss';
@import './blocks/footer.scss';
@import './blocks/placeholder.scss';
@import './blocks/pagination.scss';

// Pages
@import './pages/index/base.scss';
@import './pages/news/base.scss';
@import './pages/arbiter-form/base.scss';
@import './pages/ico/base.scss';
@import './pages/arbiters/base.scss';
@import './pages/faq/base.scss';
@import './pages/single-news/base.scss';
@import './pages/partners/base.scss';
@import './pages/team/base.scss';


// Scripts' styles
@import './scripts/scrollix.scss';
@import './scripts/appearance.scss';
@import './scripts/autocomplete.scss';
