@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNextW1G-Demi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNextW1G-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../assets/fonts/AvenirNextW1G-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import './variables.scss';

body {
  min-width: 500px;
}


.heading-1 {
  text-align: center;

  color: rgba(255, 255, 255, 0.95);

  font-family: $avenir;
  font-size: 41px;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-2 {
  position: relative;
  text-align: center;

  color: #4e4d4d;

  font-family: $avenir;
  font-size: 46px;
  font-weight: 300;
  line-height: 1.32;

  &[data-text-abaft]:after {
    content: attr(data-text-abaft);
    position: absolute;
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 68px;
    line-height: 100%;
    letter-spacing: 3.7px;
    color: rgba(78, 77, 77, 0.05);
    font-family: $avenir;
    font-weight: 600;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 92px;
    }
  }

  @media (min-width: 768px) {
    font-size: 50px;
  }
}

.main-description {
  font-size: 22px;
  line-height: 1.36;
  color: #4e4d4d;
  text-align: center;
  width: 100%;
}

.btn {
  display: inline-block;

  transition: box-shadow .1s ease-in, transform .1s ease-in;
  transform: scale(1);
  letter-spacing: -0.4px;
  text-transform: uppercase;

  color: white;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient( -76deg, rgb(80,29,105) 0%, rgb(163,50,130)100%);
  box-shadow: 0px 0px 32px 9px rgba(132, 28, 185, .15);

  font-family: $avenir;
  padding: 10px 21px;
  font-size: 12px;

  &:hover {
    transform: scale(0.98);

    color: white;
    box-shadow: 0px 0px 15px 3px rgba(132, 28, 185, .3);
  }

  @media (min-width: 768px) {
    padding: 13px 32px;
    font-size: 15px;
  }

  @media (min-width: 992px) {
    padding: 16px 48px;
    font-size: 17px;
  }
}

@import './bootfix.scss';
@import './header.scss';
@import './main-info.scss';
@import './news.scss';
@import './video.scss';
@import './concept.scss';
@import './ads.scss';
@import './experts';
@import './footer.scss';
