.ads {
  padding-top: 130px;
  padding-bottom: 20px;

  &__heading {
    margin-bottom: 35px;
  }

  &__text {
    margin: 0 auto 100px;

    @media(min-width: 992px) {
      width: 550px;
    }
  }

  &__tabs {
    margin: 0 0 70px;
    padding: 0;

    list-style: none;

    &-container {
      text-align: center;

      &:first-of-type {
        text-align: right;
      }
      &:last-of-type {
        text-align: left;
      }
    }

    @media (min-width: 768px) {
      margin: 0 0 70px;
    }
  }

  &__tab {
    display: inline-block;

    width: 100%;
    padding: 9px 0 8px;

    text-align: center;
    text-transform: uppercase;

    color: #65616d;
    background-image: linear-gradient(to bottom, rgba(243, 243, 243, 0.15), rgba(221, 221, 221, 0.15)), linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    box-shadow: 0px 9px 50px 0 rgba(35, 31, 32, 0.1);
    text-shadow: 0 0 1.9px rgba(0, 15, 41, 0.28);

    font-family: $avenir;
    font-weight: 300;

    &:focus {
      color: #65616d;
    }

    &:hover {
      color: #65616d;
      background-image: linear-gradient(to bottom, rgba(243, 243, 243, 0.45), rgba(221, 221, 221, 0.45)), linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
      box-shadow: 0px 9px 25px 0 rgba(35, 31, 32, 0.2);
    }

    &.active {
      color: white;
      border-radius: 10px;
      background-image: linear-gradient(180deg, #853582 27%, #4b2669);
      box-shadow: 0px 13px 50px 0px rgba(35, 31, 32, 0.2),
                  0px 0px 30px 9px rgba(132, 28, 185, 0.3);
      text-shadow: 0 0 1.9px rgba(0, 15, 41, 0.28);

      font-weight: 600;

      &:focus {
        text-decoration: none;

        color: white;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        color: white;
        box-shadow: 0px 13px 50px 0px rgba(35, 31, 32, 0.2),
                    0px 0px 30px 9px rgba(132, 28, 185, 0.4);
      }

      &:active {
        background-image: linear-gradient(180deg, #4b2669 27%, #853582);
        box-shadow: 0px -13px 50px 0px rgba(35, 31, 32, 0.2),
                    0px 0px 15px 3px rgba(132, 28, 185, 0.5);
      }

    }

    @media(min-width: 992px) {
      width: auto;
      min-width: 170px;
      padding: 14px 0 12px;
    }

  }

  &__item {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    margin-bottom: 40px;

    &-icon {
      position: absolute;
      top: 0;
      left: 0;

      &--lamp {
        left: -43px;

        width: 33px;
        height: 48px;

        background: transparent url('../assets/imgs/icon-lamp.png') no-repeat;
        background-size: 100%;
      }
      &--browser {
        left: -53px;

        width: 43px;
        height: 34px;

        background: transparent url('../assets/imgs/icon-browser.png') no-repeat;
        background-size: 100%;
      }
      &--gamepad {
        left: -59px;

        width: 49px;
        height: 35px;

        background: transparent url('../assets/imgs/icon-gamepad.png') no-repeat;
        background-size: 100%;
      }
      &--resize {
        left: -44px;

        width: 34px;
        height: 34px;

        background: transparent url('../assets/imgs/icon-resize.png') no-repeat;
        background-size: 100%;
      }
      &--cart {
        left: -58px;

        width: 48px;
        height: 42px;

        background: transparent url('../assets/imgs/icon-cart.png') no-repeat;
        background-size: 100%;
      }
      &--gift {
        left: -53px;

        width: 43px;
        height: 46px;

        background: transparent url('../assets/imgs/icon-gift.png') no-repeat;
        background-size: 100%;
      }
    }

    &-content {
      margin: auto;
      width: 95%;

      @media(min-width: 768px) {
        width: 75%;
      }
    }

    &-heading {
      position: relative;
      margin-bottom: 10px;

      text-align: left;

      color: #494949;

      font-family: $avenir;
      font-size: 21px;
      font-weight: 600;

      @media(min-width: 768px) {
        margin-bottom: 22px;
      }
    }

    &-text {
      color: #7c7c7c;

      font-family: $avenir;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.6;

      @media(min-width: 768px) {
        font-size: 17px;
      }
    }
  }
}
