.clients {
  position: relative;

  margin: 0 -15px 0;
  padding-top: 50px;
  padding-bottom: 45px;

  &:before {
    position: absolute;
    z-index: -3;
    top: 235px;
    right: 0;

    display: none;

    width: 424px;
    height: 434px;

    content: '';

    background-image: linear-gradient( 90deg, rgb(75,38,105) 0%, rgb(133,53,130) 100%);
  }

  @media(min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 110px;
  }

  @media(min-width: 992px) {
    padding-top: 154px;
    padding-bottom: 175px;

    &:before { display: block };
  }

  &__heading {
    margin-bottom: 40px;

    @media(min-width: 768px) {
      margin-bottom: 80px;
    }

    @media(min-width: 992px) {
      margin-bottom: 120px;
    }
  }

  &__block-heading {
    margin-bottom: 39px;

    text-align: center;

    color: #4e4d4d;

    font-family: $avenir;
    font-size: 40px;
    font-weight: 300;

    @media(min-width: 992px) {
      margin-top: 73px;

      text-align: left;

      font-size: 50px;
    }
  }

  &__text {
    margin-bottom: 15px;

    text-align: justify;

    color: #4e4d4d;

    font-family: $avenir;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.38;

    @media(min-width: 992px) {
      width: 455px;
      margin-bottom: 30px;
    }
  }

  &__btn{
    display: block;

    padding-right: 30px;
    padding-left: 30px;

    &-container {
      margin-bottom: 77px;

      text-align: center;

      @media(min-width: 992px) {
        text-align: left;
      }
    }

    @media(min-width: 992px) {
      display: inline-block;
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    list-style: none;

    & li {
      margin-bottom: 15px;

      @media(min-width: 768px) {
        margin-bottom: 30px;
      }

      @media(min-width: 992px) {
        margin-bottom: 40px;
      }
    }

    &-item {
      display: block;

      width: 100%;
      height: 40px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      font-size: 0;
    }
  }

  &__block {
    position: relative;

    height: 595px;
  }

  &__poster {
    position: absolute;

    &--forward {
      z-index: 0;
      top: 130px;
      left: 26px;

      width: 439px;
      height: 329.4px;

      background: transparent url('../assets/imgs/client-1.jpg') top center no-repeat;
      background-size: 100%;
      box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.22);

      @media(min-width: 1200px) {
        width: 488px;
        height: 366px;
      }
    }

    &--aback {
      z-index: -2;
      top: 20px;
      right: 0;

      width: 438.3px;
      height: 535.5px;

      background: transparent url('../assets/imgs/client-2.jpg') top center no-repeat;
      background-size: 100%;
      box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.22);

      &:after {
        position: absolute;

        width: 100%;
        height: 100%;

        content: '';

        background-color: rgba(255, 255, 255, 0.74)
      }

      @media(min-width: 1200px) {
        top: -15px;
        right: 15px;

        width: 487px;
        height: 595px;
      }
    }
  }
}
