.clients {
  position: relative;

  margin: 0 -15px;
  padding-top: 45px;
  padding-bottom: 40px;

  &:before {
    position: absolute;
    z-index: -3;
    top: 53%;
    right: 0;
    transform: translateY(-50%);

    display: none;

    width: 424px;
    height: 434px;

    content: '';

    background-image: linear-gradient( 90deg, rgb(75,38,105) 0%, rgb(133,53,130) 100%);
  }

  @media(min-width: 768px) {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  @media(min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 150px;

    &:before { display: block };
  }

  &__heading {
    margin-bottom: 40px;

    @media(min-width: 768px) {
      margin-bottom: 60px;
    }

    @media(min-width: 992px) {
      margin-bottom: 80px;
    }
  }

  &__block-heading {
    margin-bottom: 35px;

    text-align: center;

    color: #4e4d4d;

    font-family: $avenir;
    font-size: 36px;
    font-weight: 300;

    @media(min-width: 992px) {
      margin-top: 65px;

      text-align: left;

      font-size: 46px;
    }
  }

  &__text {
    margin-bottom: 15px;

    text-align: justify;

    color: #4e4d4d;

    font-family: $avenir;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.3;

    @media(min-width: 992px) {
      width: 430px;
      margin-bottom: 26px;
    }
  }

  &__btn{
    display: block;

    padding-right: 26px;
    padding-left: 26px;

    &-container {
      margin-bottom: 65px;

      text-align: center;

      @media(min-width: 992px) {
        text-align: left;
      }
    }

    @media(min-width: 992px) {
      display: inline-block;
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    list-style: none;

    & li {
      margin-bottom: 15px;

      @media(min-width: 768px) {
        margin-bottom: 20px;
      }

      @media(min-width: 992px) {
        margin-bottom: 30px;
      }
    }

    &-item {
      display: block;

      width: 100%;
      height: 36px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      font-size: 0;

      &:hover {
        opacity: .7;
      }

      &:active {
        filter: invert(25%);
      }
    }
  }

  &__block {
    position: relative;

    height: 550px;
  }

  &__poster {
    position: absolute;

    &--forward {
      z-index: 0;
      top: 120px;
      left: 26px;

      width: 395px;
      height: 296px;

      background: transparent url('../assets/imgs/client__brixby.io.jpg') top center no-repeat;
      background-size: 100%;
      box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.22);

      @media(min-width: 1200px) {
        width: 439px;
        height: 329px;
      }
    }

    &--aback {
      z-index: -2;
      top: 20px;
      right: 0;

      width: 394px;
      height: 482px;

      background: transparent url('../assets/imgs/client__bcshop.io.jpg') top center no-repeat;
      background-size: 100%;
      box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.22);

      &:after {
        position: absolute;

        width: 100%;
        height: 100%;

        content: '';

        background-color: rgba(255, 255, 255, 0.74)
      }

      @media(min-width: 1200px) {
        top: -15px;
        right: 15px;

        width: 438px;
        height: 536px;
      }
    }
  }
}
