.concept {
  margin: 0 -15px;
  padding: 68px 0 50px;

  background-color: rgba(175, 151, 187, .2);

  &__heading {
    margin-bottom: 34px;
  }

  &__image {
    width: 90%;
    height: 90%;
  }

  &__container {
    text-align: center;
  }
}
