.cta {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 50px;
  padding-bottom: 54px;

  background-image: linear-gradient(169deg, #85338c, #4a246f);

  @media(min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  @media(min-width: 1200px) {
    padding-top: 105px;
    padding-bottom: 120px;
  }

  &__heading {
    margin-bottom: 0;

    text-align: center;

    color: white;

    font-family: $avenir;
    font-size: 36px;
    font-weight: 300;
  }

  &__text {
    margin-bottom: 54px;

    text-align: center;
    text-transform: uppercase;

    color: #c57cae;

    font-family: $avenir;
    font-size: 21px;
    font-weight: 300;

    @media(min-width: 768px) {
      margin-bottom: 110px;
    }
  }

  &__price {
    display: inline-block;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: calc(100% - 10px);
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      margin-bottom: 0;
      border-radius: 10px;
      background-color: rgba(45, 20, 55, 0.4);
      background-image: linear-gradient(to right, rgba(89, 37, 101, .4), rgba(82, 35, 98, .4));
    }

    & > svg {
      display: inline-block;
      width: 470px;

      @media(min-width: 776px) {
        width: 580px;
      }
    }
  }

  &__total {
    font-family: "Futura", serif;
    font-weight: bold;
  }

  &__fiat {
    text-transform: uppercase;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 55px;

    &-text {
      display: block;
      width: 100%;
      padding: 0 15px;
      text-align: left;

      @media(min-width: 768px) {
        width: 50%;
        text-align: right;
      }

      & > svg {
        display: inline-block;
        width: auto;
      }
    }
  }

  &__currency {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    width: 100%;
    max-width: 1020px;
    margin: auto;

    &-item {
      margin: 10px 10px;
      width: auto;
      flex-grow: 1;
      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &-badge {
      display: inline-flex;
      position: relative;
      flex-flow: column nowrap;
      align-items: flex-end;
      width: auto;
      min-width: 185px;
      min-height: 120px;
      max-width: 200%;
      margin: 0;
      padding: 16px 20px;
      background-image: linear-gradient(to bottom, rgb(222, 99, 145) 30%, rgb(190, 58, 99) 100%);
      justify-content: flex-end;
      border-radius: 10px;
      box-shadow: 0 0 28px 7px rgba(225, 103, 141, .1), 0 0 10px 3px rgba(225, 103, 141, .1), 0 13px 21px 0 rgba(35, 31, 32, .2);
      overflow: hidden;

      &:before {
        position: absolute;
        top: 50%;
        left: -44px;

        width: 88px;
        height: 88px;

        content: '';

        background-image: linear-gradient(to bottom, rgba(192, 69, 115, .29), rgba(169, 40, 82, .29));
        border-radius: 100%;
        transform: translateY(-50%);
      }

      &--currency {
        &--ltc {
          background-image: linear-gradient(to bottom, rgb(222, 99, 186) 30%, rgb(170, 48, 128) 100%);

          &:before {
            background-image: linear-gradient(to bottom, rgba(192, 69, 156, .29), rgba(156, 33, 116, .29));
          }
        }
        &--eth {
          background-image: linear-gradient(to bottom, rgb(170, 97, 216) 30%, rgb(100, 60, 154) 100%);
          box-shadow: 0 0 28px 7px rgba(184, 119, 225, .1), 0 0 10px 3px rgba(184, 119, 225, .1), 0 13px 21px 0 rgba(35, 31, 32, .2);

          &:before {
            background-image: linear-gradient(to bottom, rgba(140, 67, 186, .29), rgba(91, 41, 143, .29));
          }
        }
        &--bch {
          background-image: linear-gradient(to bottom, rgb(117, 142, 216) 0%, rgb(68, 75, 158) 100%);
          box-shadow: 0 0 28px 7px rgba(149, 167, 231, .1), 0 0 10px 3px rgba(149, 167, 231, .1), 0 13px 21px 0 rgba(35, 31, 32, .2);

          &:before {
            background-image: linear-gradient(to bottom, rgba(76, 97, 173, .29), rgba(49, 60, 141, .29));
          }
        }
        &--etc {
          background-image: linear-gradient(to bottom, rgb(151, 225, 246) 0%, rgb(60, 143, 170) 100%);
          box-shadow: 0 0 28px 7px rgba(173, 226, 241, .1), 0 0 10px 3px rgba(173, 226, 241, .1), 0 13px 21px 0 rgba(35, 31, 32, .2);

          &:before {
            background-image: linear-gradient(to bottom, rgba(97, 173, 196, .29), rgba(48, 129, 155, .29));
          }
        }
      }
    }

    &-value {
      font-family: "Futura", serif;
      color: rgba(249, 232, 254, 1);
      font-size: 40px;
      font-weight: bold;
      line-height: 1;
      z-index: 0;
      position: relative;
      text-shadow: 0 1px 1px rgba(0, 15, 41, .38);
    }

    &-name {
      color: rgba(255, 242, 224, 1);
      font-family: "Futura", serif;
      font-size: 21px;
      font-weight: bold;
      line-height: 1;
      z-index: 0;
      position: relative;
      text-transform: uppercase;
      text-shadow: 0 1px 1px rgba(0, 15, 41, .38);
    }
  }
}
