.features {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 62px;
  padding-bottom: 54px;

  background-color: #efeaf1;

  @media(min-width: 576px) {
    padding-top: 90px;
  }

  @media(min-width: 768px) {
    padding-top: 125px;
  }

  @media(min-width: 992px) {
    padding-top: 108px;
    padding-bottom: 90px;
  }

  &__heading {
    margin-bottom: 18px;

    &:after {
      width: 100%;
      max-width: 750px;
    }

    @media(min-width: 992px) {
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 610px;
    margin: auto;
    margin-bottom: 30px;

    @media(min-width: 992px) {
      margin-bottom: 48px;
    }
  }

  &__item {
    position: relative;

    width: 90%;
    min-width: 170px;
    max-width: 300px;
    margin: auto;
    padding-top: 188px;

    text-align: center;

    &:after {
      position: absolute;
      top:0;
      left: 50%;

      width: 172px;
      height: 172px;

      content: '';
      transform: translateX(-50%);
    }

    &:before {
      position: absolute;
      top:0;
      left: 50%;

      width: 172px;
      height: 172px;

      content: '';
      transform: translateX(-50%);

      background: transparent url('../assets/imgs/icon-features-rhomb.png');
    }

    &--funds {
      margin-left: auto;

      @media(min-width: 992px) {
        margin-left: 30px;
      }

      @media(min-width: 1200px) {
        margin-left: 55px;
      }
    }

    &--escrow {
      margin-right: auto;

      @media(min-width: 992px) {
        margin-right: 30px;
      }

      @media(min-width: 1200px) {
        margin-right: 55px;
      }
    }

    &--escrow:after {
      top: 5px;
      left: 49%;

      background: transparent url('../assets/imgs/icon-features-doc.png') center no-repeat;
    }
    &--funds:after {
      top: 1px;

      background: transparent url('../assets/imgs/icon-features-graph.png') center no-repeat;
    }
    &--resolution:after {
      top: 2px;

      background: transparent url('../assets/imgs/icon-features-like.png') center no-repeat;
    }
    &--market:after {
      top: 3px;

      background: transparent url('../assets/imgs/icon-features-atom.png') center no-repeat;
    }
    &--security:after {
      top: 8px;
      left: 49.5%;

      background: transparent url('../assets/imgs/icon-features-shield.png') center no-repeat;
    }

    &-heading {
      margin-bottom: 18px;

      color: #494949;

      font-family: $avenir;
      font-size: 21px;
      font-weight: 600;
    }

    &-text {
      margin-bottom: 25px;

      color: #7c7c7c;

      font-family: $avenir;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.74;
    }
  }
}
