.news-block {
  position: relative;
  z-index: 1;

  overflow: hidden;

  margin: 0 -15px;
  padding-top: 65px;
  padding-bottom: 30px;

  background-color: rgba(234,234,234, 0.7);

  @media(min-width: 992px) {
    padding-top: 210px;

  }

  &__heading {
    padding-bottom: 35px;
  }

  &__btn-container {
    display: none;

    text-align: center;

    .no-js & {
      display: block;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;

    margin-bottom: 13px;

    &-item {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 15px;

      @media(min-width: 992px) {
        width: 575px;
      }
    }

    &-dots {
      display: block;

      text-align: center;

      & li {
        display: inline-block;

        width: 10px;
        height: 10px;
        margin-right: 8px;
        margin-left: 8px;

        cursor: pointer;

        border-radius: 100%;
        background-color: rgba(208, 193, 218, .6);

        &.slick-active {
          background-image: linear-gradient(180grad, rgba(163, 51, 170, 1) 0%, rgba(64, 59, 123, 1) 100%);
          box-shadow: 0px 0px 9px 4px rgba(165, 93, 202, .39), inset 0px 0px 9px 2px rgba(165, 93, 202, .39);
        }

        &:hover {
          background-color: rgba(208, 193, 218, .8);
          box-shadow: 0px 0px 10px 4px rgba(165, 93, 202, 0.2), inset 0px 0px 1px 1px rgba(165, 93, 202, 0.3);
        }

        & button {
          border: none;
          background: none;

          font-size: 0;

          &:active {
            outline: none;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    &-btn{
      position: absolute;
      z-index: 1;
      bottom: 45%;

      width: 35px;
      height: 59px;

      transition: all .05s ease-in;

      opacity: 0.6;

      &:hover {
        transform: scale(1.09);

        opacity: 0.8;
      }

      &:active {
        transform: scale(0.91);

        opacity: 0.6;
      }

      &--left {
        left: 22px;

        background: transparent url('../assets/imgs/icon-slider-arrow-left.png') center no-repeat;
        background-size: 100%;
      }

      &--right {
        right: 22px;

        background: transparent url('../assets/imgs/icon-slider-arrow-right.png') center no-repeat;
        background-size: 100%;
      }
    }
  }
}
