.press {
  &__carousel {
    margin: 0 -15px;
    padding-top: 35px;
    padding-bottom: 26px;

    background: transparent center no-repeat;
    background-image:
      linear-gradient(-45grad, rgba(133, 53, 130, .5) 0%, rgba(74, 38, 105, .5) 100%),
      linear-gradient(0, rgba(1, 2, 14, .9) 0%, rgba(1, 2, 14, .9) 100%),
      url('../assets/imgs/press-slider-bg.jpg');
    background-size: cover;

    @media(min-width: 768px){
      padding-top: 50px;
      padding-bottom: 36px;
    }

    @media(min-width: 992px){
      padding-top: 72px;
      padding-bottom: 64px;
    }

    @media(min-width: 1200px){
      padding-top: 115px;
      padding-bottom: 90px;
    }

    &-indicators {
      bottom: 10px;

      margin: 0;

      @media(min-width: 768px) {
        bottom: 20px;
      }

      @media(min-width: 1200px) {
        bottom: 30px;
      }

      & li {
        flex: 0 0 auto;

        width: 7px;
        height: 7px;
        margin-right: 5px;
        margin-left: 5px;

        border-radius: 100%;

        @media(min-width: 768px) {
          width: 8.5px;
          height: 8.5px;
        }
        @media(min-width: 992px) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  &__slide {
    height: 100%;
    &s {
      margin: 0;
      padding: 0;
    }

    &-content {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-flow: column nowrap;
      justify-content: flex-start;

      width: 95%;
      height: 165px;
      margin: auto;

      @media(min-width: 992px){
        width: 65.67%;
      }

    }
  }

  &__quote {
    margin-bottom: 20px;

    text-align: center;

    color: white;

    font-family: $avenir;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.3;
    &:before {
      content: '“';

      font-family: $avenir;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.3;
    }
    &:after {
      content: '”';

      font-family: $avenir;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.3;
    }

    &-author {
      text-align: center;

      color: white;

      font-family: $avenir;
      font-size: 14px;
      font-weight: 300;

      &:before { // use for text quotes
        content: '- ';

        font-family: $avenir;
        font-size: 14px;
        font-weight: 300;
      }

      &.press__company-logo {
        &:before { display: none; }
        max-height: 16px;
      }


    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    min-height: 700px;
    margin: 45px -15px 20px;
    padding: 0;

    list-style: none;

    @media(min-width: 768px) {
      justify-content: space-around;

      min-height: 600px;
      margin: 90px -15px 40px;
    }

    @media(min-width: 992px) {
      min-height: 370px;
    }

    @media(min-width: 1200px) {
      margin: 125px -15px 55px;
    }
  }

  &__company {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 76px;

    &-logo {
      display: block;

      width: 75%;
      height: 60px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      font-size: 0;

      &:hover {
        opacity: .7;
      }

      &:active {
        filter: invert(25%);
      }
    }

    @media(min-width: 768px) {
      width: 33.333%;
    }

    @media(min-width: 992px) {
      width: 20%;
    }
  }

  &__icobench {
    margin-bottom: 45px;

    @media(min-width: 768px) {
      margin-bottom: 90px;
    }
    @media(min-width: 1200px) {
      margin-bottom: 125px;
    }

    &-link {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    &-img {
      max-width: 300px;
      width: 100%;
      display: block;
      margin: auto;
      height: auto;

      @media(min-width: 768px) {
        width: 75%;
      }

      @media(min-width: 992px) {
        width: 50%;
      }
    }
  }
}
