.press {
  &__carousel {
    margin: 0 -15px;
    padding-top: 40px;
    padding-bottom: 30px;

    background: transparent center no-repeat;
    background-image:
      linear-gradient(-45grad, rgba(133, 53, 130, .5) 0%, rgba(74, 38, 105, .5) 100%),
      linear-gradient(0, rgba(1, 2, 14, .9) 0%, rgba(1, 2, 14, .9) 100%),
      url('../assets/imgs/press-slider-bg.jpg');
    background-size: cover;

    @media(min-width: 768px){
      padding-top: 55px;
      padding-bottom: 40px;
    }

    @media(min-width: 992px){
      padding-top: 80px;
      padding-bottom: 72px;
    }

    @media(min-width: 1200px){
      padding-top: 131px;
      padding-bottom: 102px;
    }

    &-indicators {
      bottom: 20px;

      margin: 0;

      @media(min-width: 768px) {
        bottom: 30px;
      }

      @media(min-width: 1200px) {
        bottom: 86px;
      }

      & li {
        flex: 0 0 auto;

        width: 7px;
        height: 7px;
        margin-right: 5px;
        margin-left: 5px;

        border-radius: 100%;

        @media(min-width: 768px) {
          width: 8.5px;
          height: 8.5px;
        }
        @media(min-width: 992px) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  &__slide {
    height: 100%;
    &s {
      margin: 0;
      padding: 0;
    }

    &-content {
      display: flex;
      overflow: hidden;
      align-items: center;
      flex-flow: column nowrap;
      justify-content: flex-start;

      width: 95%;
      height: 165px;
      margin: auto;

      @media(min-width: 992px){
        width: 72.67%;
      }

      @media(min-width: 992px){
        width: 72.67%;
      }
    }
  }

  &__quote {
    margin-bottom: 20px;

    text-align: center;

    color: white;

    font-family: $avenir;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.64;
    &:before {
      content: '“';

      font-family: $avenir;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.64;
    }
    &:after {
      content: '”';

      font-family: $avenir;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.64;
    }

    &-author {
      text-align: center;

      color: white;

      font-family: $avenir;
      font-size: 15px;
      font-weight: 300;
      &:before {
        content: '- ';

        font-family: $avenir;
        font-size: 15px;
        font-weight: 300;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;

    min-height: 700px;
    margin: 45px -15px 45px;
    padding: 0;

    list-style: none;

    @media(min-width: 768px) {
      justify-content: space-between;

      min-height: 600px;
      margin: 90px -15px 90px;
    }

    @media(min-width: 992px) {
      align-content: space-between;

      min-height: 370px;
    }

    @media(min-width: 1200px) {
      margin: 125px -15px 147px;
    }
  }

  &__company {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 76px;

    &-logo {
      display: block;

      max-width: 100%;
      max-height: 100%;

      background-repeat: no-repeat;
      background-position: center;
      background-size: initial;

      font-size: 0;
    }

    @media(min-width: 768px) {
      width: 33.333%;
    }

    @media(min-width: 992px) {
      width: 20%;
    }
  }
}
