@font-face {
  font-family: 'AvenirNextW1G-Demi';
  src: url('AvenirNextW1G-Demi.eot');
  src: url('AvenirNextW1G-Demi.woff2') format('woff2'),
       url('AvenirNextW1G-Demi.woff') format('woff'),
       url('AvenirNextW1G-Demi.ttf') format('truetype'),
       url('AvenirNextW1G-Demi.svg#AvenirNextW1G-Demi') format('svg'),
       url('AvenirNextW1G-Demi.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

