.timer {
  margin-bottom: 18px;
  &__date {
    &s{
      margin-bottom: 22px;

      text-align: center;
      letter-spacing: 0.6px;
      text-transform: uppercase;

      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0px 9px 8px rgba(35, 31, 32, 0.2);

      font-family: $avenir;
      font-size: 21px;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

    width: 100%;
    margin: auto;
  }

  &__divider {
    width: 10px;
    height: 10px;

    opacity: 0.8;
    border-radius: 4.5px;
    background-color: #f9e8fe;
  }

  &__property {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      justify-content: center;

      min-width: 90px;
      min-height: 90px;
      margin-bottom: 0;
      padding: 5px;

      border-radius: 10px;
      background-color: rgba(45, 20, 55, .4);
    }

    &-name {
      display: block;
      display: block;

      text-align: center;
      letter-spacing: -0.5px;

      color: #ceafff;

      font-family: $avenir;
      font-size: 18px;
      line-height: 1;
    }

    &-value {
      display: block;

      text-align: center;
      letter-spacing: -1.2px;
      text-transform: uppercase;

      color: #f9e8fe;

      font-family: $avenir;
      font-size: 42px;
      font-weight: 600;
      line-height: 1;
    }
  }
}
