.main-info--partners {
  padding-bottom: 135px;

  background: rgb(77, 36, 100) radial-gradient(farthest-corner at 20% 20%, rgb(133, 51, 140) 0%, rgb(77, 36, 100) 100%);

  .heading-1 {
    margin-bottom: 80px;
  }
}
