.news .news-card {
  opacity: 1;
  margin: 0;
  width: 100%;
  margin-bottom: 36px;

  @media(min-width: 992px) {
    width: 45%;
  }

  &__image {
    max-height: 275px;
    margin-bottom: 40px;
  }

  &__name {
    font-size: 25px;
  }

  &__type {
    font-size: 14px;

    @media(min-width: 768px) {
      font-size: 17px;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 7px;


    @media(min-width: 768px) {
      font-size: 17px;
    }
  }

  &__btn {
    font-size: 14px;

    &-icon {
      width: 12px;
      height: 11px;
    }
  }
}
