@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/fonts/AvenirNextW1G-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/fonts/AvenirNextW1G-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/fonts/AvenirNextW1G-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  min-width: 500px; }

.heading-1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  font-family: "AvenirNext", "Arial", sans-serif;
  font-size: 41px;
  font-weight: 600;
  text-transform: uppercase; }

.btn {
  position: relative;
  padding: 16px 39px 16px; }
  .btn__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .btn__text {
    font-family: "AvenirNext", "Arial", sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0.7px; }
  .btn:hover .btn__text {
    text-decoration: underline; }

@media (min-width: 1366px) {
  .container {
    width: 1366px;
    padding-left: 98px;
    padding-right: 98px; } }

.header {
  background-color: transparent; }
  .header__bg {
    background-color: #853582; }
  .header__navbar {
    padding-top: 7px;
    padding-bottom: 20px; }
    @media (min-width: 1200px) {
      .header__navbar {
        padding-right: 57px;
        padding-left: 35px; } }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 20px -10px;
    padding: 0;
    list-style: none; }
    @media (min-width: 992px) {
      .header__menu-item {
        padding-left: 12px; } }
    @media (min-width: 1200px) {
      .header__menu-item {
        padding-left: 20px; } }
    @media (min-width: 1366px) {
      .header__menu-item {
        padding-left: 36px; } }
    @media (min-width: 1200px) {
      .header__menu-btn {
        padding-left: 30px; } }
    @media (min-width: 1366px) {
      .header__menu-btn {
        padding-left: 65px; } }
    @media (min-width: 1200px) {
      .header__menu {
        height: 38px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin: 0; } }
  .header__btn {
    position: relative;
    padding: 16px 49px;
    background-color: rgba(255, 255, 255, 0.29);
    -webkit-box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2), 0px 3px 8px 0px rgba(0, 0, 0, 0.09);
            box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2), 0px 3px 8px 0px rgba(0, 0, 0, 0.09); }
    .header__btn .btn__text {
      text-transform: uppercase;
      font-style: 18px; }
  .header__toggle {
    display: inline-block; }
    .header__toggle-icon {
      color: white; }
  .header__link {
    display: block;
    padding: 10px 10px;
    color: white;
    font-size: 18.1px;
    line-height: 30.1px; }
    .header__link:hover {
      text-decoration: none;
      color: white;
      border-bottom: 1px solid white;
      text-shadow: 2px 2px #501d69; }
    .header__link:focus {
      text-decoration: none;
      color: white; }
    .header__link:active {
      color: rgba(255, 255, 255, 0.7);
      border-bottom: 0;
      text-shadow: none; }
    @media (min-width: 992px) {
      .header__link {
        margin: 0 5px;
        padding: 0 5px; } }
  @media (min-width: 1200px) {
    .header__logo {
      height: 63px;
      padding-top: 25px; } }

.main-info {
  position: relative;
  z-index: 1;
  padding-top: 98px;
  margin: 0 -15px;
  padding-bottom: 40px; }
  .main-info__bg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 816px; }
    .main-info__bg-lining {
      position: absolute;
      bottom: 0; }
      .main-info__bg-lining--layer1 {
        top: 0;
        bottom: auto;
        width: 100%;
        height: 100%;
        max-height: 776px; }
      .main-info__bg-lining--layer2 {
        width: 105.78%;
        max-height: 179px; }
      .main-info__bg-lining--layer3 {
        width: 105.71%;
        max-height: 217px; }
    .main-info__bg:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      opacity: .1;
      background: transparent url(../assets/imgs/index-main-bg.png) no-repeat top center; }
      @media (min-width: 1366px) {
        .main-info__bg:after {
          height: 95%;
          background-size: cover; } }
    @media (min-width: 992px) {
      .main-info__bg {
        padding-top: 152px; } }
  @media (min-width: 1200px) {
    .main-info {
      min-height: 815px;
      padding-top: 150px;
      padding-bottom: 30px; } }

.jumbo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .jumbo__logo {
    margin: 0;
    margin-bottom: 20px; }
  .jumbo__heading {
    margin: 0 0 47px; }
  .jumbo__text {
    text-align: center;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px; }
  @media (min-width: 1200px) {
    .jumbo {
      padding-top: 50px; } }

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 350px;
  height: 479px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px #6a3681;
  border-radius: 10px; }
  .login-form__heading {
    padding: 22px 141px 24px 138px;
    color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
    font-family: "AvenirNext", "Arial", sans-serif;
    font-weight: bold;
    line-height: 30.2px;
    text-transform: uppercase;
    font-size: 23.2px; }

.news {
  padding-top: 183px;
  padding-bottom: 30px;
  margin: -183px -15px 0;
  min-height: 790px;
  background-color: rgba(234, 234, 234, 0.7); }

.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #343141 -webkit-gradient(linear, left top, right top, from(#343141), to(#564f63));
  background: #343141 linear-gradient(to right, #343141, #564f63); }
  .footer__block:not(:last-of-type) {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .footer__block:not(:last-of-type) {
        margin-bottom: 40px; } }
    @media (min-width: 1200px) {
      .footer__block:not(:last-of-type) {
        margin-bottom: 105px; } }
  .footer__heading {
    text-transform: uppercase;
    font-size: 13px;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 9px;
    color: #fff; }
  .footer__menu {
    margin-bottom: 30px;
    padding: 0;
    list-style: none; }
  .footer__link {
    font-family: "AvenirNext", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer; }
    .footer__link:hover {
      color: rgba(255, 255, 255, 0.5); }
    .footer__link:focus {
      text-decoration: none;
      outline: none;
      color: rgba(255, 255, 255, 0.5); }
    .footer__link:focus:hover {
      text-decoration: underline; }
    .footer__link:active {
      color: rgba(255, 255, 255, 0.7); }
  @media (min-width: 992px) {
    .footer {
      padding-top: 125px;
      padding-bottom: 75px; } }
  @media (min-width: 1200px) {
    .footer {
      padding-top: 150px;
      padding-bottom: 100px; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .social__btn {
    position: absolute;
    top: 50%;
    right: -21px;
    padding: 10px 21px;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: transparent; }
    .social__btn .btn__text {
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold; }
  .social__input {
    position: absolute;
    display: block;
    width: 70%;
    height: 100%;
    padding: 0;
    border: none; }
  .social__wrapper {
    position: relative;
    z-index: 0;
    width: 90%;
    height: 48px;
    margin-left: 24px;
    margin-bottom: 20px;
    background-color: #fff; }
    .social__wrapper:after {
      position: absolute;
      z-index: -1;
      left: -24px;
      width: 48px;
      height: 48px;
      content: '';
      border-radius: 100%;
      background-color: #fff; }
    .social__wrapper:before {
      position: absolute;
      z-index: -1;
      right: -24px;
      width: 48px;
      height: 48px;
      content: '';
      border-radius: 100%;
      background-color: #fff; }
    @media (min-width: 1200px) {
      .social__wrapper {
        width: 305px; } }
    @media (min-width: 1200px) {
      .social__wrapper {
        width: 305px; } }
    @media (min-width: 1200px) {
      .social__wrapper {
        width: 305px; } }
  .social__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 47px;
    height: 47px;
    border: solid 2px #ffffff;
    border-radius: 100%;
    color: white;
    font-size: 22px; }
    .social__links--facebook {
      padding-top: 1px;
      padding-right: 2px; }
    .social__links:hover {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      border-color: rgba(255, 255, 255, 0.7); }
    .social__links:focus {
      outline: none;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      border-color: rgba(255, 255, 255, 0.7); }
    .social__links:active {
      color: rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.5); }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px; }
  .copyright__text {
    margin: 0;
    margin-bottom: 9px;
    color: white;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 15px;
    line-height: 15px; }
