@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/fonts/AvenirNextW1G-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/fonts/AvenirNextW1G-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNext';
  src: url("../assets/fonts/AvenirNextW1G-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  min-width: 500px; }

.heading-1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  font-family: "AvenirNext", "Arial", sans-serif;
  font-size: 41px;
  font-weight: 600;
  text-transform: uppercase; }

.heading-2 {
  position: relative;
  text-align: center;
  color: #4e4d4d;
  font-family: "AvenirNext", "Arial", sans-serif;
  font-size: 46px;
  font-weight: 300;
  line-height: 1.32; }
  .heading-2[data-text-abaft]:after {
    content: attr(data-text-abaft);
    position: absolute;
    bottom: 28%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 68px;
    line-height: 100%;
    letter-spacing: 3.7px;
    color: rgba(78, 77, 77, 0.05);
    font-family: "AvenirNext", "Arial", sans-serif;
    font-weight: 600;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .heading-2[data-text-abaft]:after {
        font-size: 92px; } }
  @media (min-width: 768px) {
    .heading-2 {
      font-size: 50px; } }

.main-description {
  font-size: 22px;
  line-height: 1.36;
  color: #4e4d4d;
  text-align: center;
  width: 100%; }

.btn {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow .1s ease-in;
  transition: -webkit-box-shadow .1s ease-in;
  transition: box-shadow .1s ease-in;
  transition: box-shadow .1s ease-in, -webkit-box-shadow .1s ease-in;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(-76deg, #501d69 0%, #a33282 100%);
  -webkit-box-shadow: 0px 0px 32px 9px rgba(132, 28, 185, 0.15);
          box-shadow: 0px 0px 32px 9px rgba(132, 28, 185, 0.15);
  font-family: "AvenirNext", "Arial", sans-serif;
  padding: 10px 21px;
  font-size: 12px; }
  .btn:focus {
    color: white; }
  .btn:active {
    background-image: linear-gradient(76deg, #501d69 0%, #a33282 100%); }
  .btn:hover {
    color: white;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(132, 28, 185, 0.3);
            box-shadow: 0px 0px 15px 3px rgba(132, 28, 185, 0.3); }
  @media (min-width: 768px) {
    .btn {
      padding: 13px 32px;
      font-size: 15px; } }
  @media (min-width: 992px) {
    .btn {
      padding: 16px 48px;
      font-size: 17px; } }

@media (min-width: 1366px) {
  .container {
    width: 1366px;
    padding-left: 98px;
    padding-right: 98px; } }

.header {
  background-color: transparent; }
  .header__bg {
    background: #853582 linear-gradient(101deg, #4a246f 0%, #85338c 100%); }
  .header__navbar {
    padding-top: 7px; }
    @media (min-width: 1366px) {
      .header__navbar {
        padding-right: 57px;
        padding-left: 35px; } }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 20px -10px;
    padding: 0;
    list-style: none; }
    @media (min-width: 992px) {
      .header__menu-item {
        padding-left: 12px; } }
    @media (min-width: 1200px) {
      .header__menu-item {
        padding-left: 20px; } }
    @media (min-width: 1366px) {
      .header__menu-item {
        padding-left: 26px; } }
    @media (min-width: 1200px) {
      .header__menu-btn {
        padding-left: 30px; } }
    @media (min-width: 1366px) {
      .header__menu-btn {
        padding-left: 48px; } }
    @media (min-width: 1200px) {
      .header__menu {
        min-height: 38px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-align: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin: 0; } }
  .header__dropdown {
    position: relative; }
    .header__dropdown-btn {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid transparent;
      color: white;
      font-family: "AvenirNext", "Arial", sans-serif;
      font-size: 18.1px;
      line-height: 30.1px;
      padding: 0; }
      .header__dropdown-btn:active {
        color: rgba(255, 255, 255, 0.7); }
      .header__dropdown-btn:hover {
        border-bottom: 1px solid white;
        text-shadow: 2px 2px #501d69; }
    .header__dropdown-menu {
      position: absolute;
      top: 38px;
      left: -52px;
      padding: 6px 15px 20px;
      border: 1px solid #b896bb;
      background-color: #4d2464;
      opacity: 0.949; }
      .header__dropdown-menu .dropdown-item {
        position: relative;
        color: #b896bb;
        font-family: "AvenirNext", "Arial", sans-serif;
        line-height: 18px;
        font-size: 18px;
        padding: 10px 14px 10px 38px;
        font-weight: 300;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        .header__dropdown-menu .dropdown-item:hover {
          background-color: transparent;
          color: #f7e1fe;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
          .header__dropdown-menu .dropdown-item:hover:before {
            background-color: rgba(255, 255, 255, 0.75); }
        .header__dropdown-menu .dropdown-item:before {
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 100%;
          top: 50%;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%);
          left: 2px;
          background-color: rgba(255, 255, 255, 0.6); }
  .header__btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    color: white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: relative;
    padding: 12px 49px;
    background-color: rgba(255, 255, 255, 0.29);
    -webkit-box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2), 0px 3px 8px 0px rgba(0, 0, 0, 0.09);
            box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2), 0px 3px 8px 0px rgba(0, 0, 0, 0.09); }
    .header__btn:focus {
      color: white;
      text-decoration: none; }
    .header__btn:hover {
      color: white;
      text-decoration: underline; }
    .header__btn .btn__text {
      text-transform: uppercase;
      font-style: 18px; }
  .header__toggle {
    display: inline-block; }
    .header__toggle-icon {
      color: white; }
  .header__link {
    display: block;
    padding: 10px 10px;
    color: white;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 18.1px;
    line-height: 30.1px; }
    .header__link:hover {
      text-decoration: none;
      color: white;
      border-bottom: 1px solid white;
      text-shadow: 2px 2px #501d69; }
    .header__link:focus {
      text-decoration: none;
      color: white;
      outline: none; }
    .header__link:active {
      color: rgba(255, 255, 255, 0.7);
      border-bottom: 0;
      text-shadow: none; }
    @media (min-width: 992px) {
      .header__link {
        margin: 0 10px;
        padding: 0 0; } }
  .header__logo {
    display: inline-block;
    height: auto;
    padding-top: 8px; }
  .header__toggle {
    top: 14px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in; }
    .header__toggle[aria-expanded="true"] {
      background-color: rgba(255, 255, 255, 0.1); }
    .header__toggle:focus {
      outline: none; }

.main-info {
  position: relative;
  display: none;
  margin: 0 -15px;
  padding-top: 98px;
  padding-bottom: 60px; }
  .main-info--index {
    display: block;
    background: transparent url("../assets/imgs/index-main-bg.png") no-repeat;
    background-position: 50% bottom;
    background-size: cover; }
  @media (min-width: 992px) {
    .main-info {
      padding-bottom: 70px; } }
  @media (min-width: 1200px) {
    .main-info {
      min-height: 815px;
      padding-top: 150px;
      padding-bottom: 30px; } }

.jumbo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .jumbo__logo {
    margin: 0;
    margin-bottom: 20px; }
  .jumbo__heading {
    margin: 0 0 47px; }
  .jumbo__text {
    text-align: center;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px; }
  @media (min-width: 1200px) {
    .jumbo {
      padding-top: 50px; } }

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 350px;
  min-height: 479px;
  margin: auto;
  border: solid 1px #6a3681;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1); }
  .signup__heading {
    display: block;
    padding: 22px 0 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: inset 0px 1px 0 0 rgba(255, 255, 255, 0.2);
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 23.2px;
    font-weight: bold;
    line-height: 30.2px; }
  .signup__form {
    padding: 18px 29px 17px; }
  .signup__input {
    width: 100%;
    height: 57px;
    padding: 20px;
    color: #42285b;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 21px; }
    .signup__input:not(:last-of-type) {
      margin-bottom: 15px; }
    .signup__input::-webkit-input-placeholder {
      text-align: center;
      text-transform: uppercase;
      opacity: 1;
      color: #42285b;
      font-family: "AvenirNext", "Arial", sans-serif;
      font-size: 21px; }
    .signup__input:-ms-input-placeholder {
      text-align: center;
      text-transform: uppercase;
      opacity: 1;
      color: #42285b;
      font-family: "AvenirNext", "Arial", sans-serif;
      font-size: 21px; }
    .signup__input::-ms-input-placeholder {
      text-align: center;
      text-transform: uppercase;
      opacity: 1;
      color: #42285b;
      font-family: "AvenirNext", "Arial", sans-serif;
      font-size: 21px; }
    .signup__input::placeholder {
      text-align: center;
      text-transform: uppercase;
      opacity: 1;
      color: #42285b;
      font-family: "AvenirNext", "Arial", sans-serif;
      font-size: 21px; }
    .signup__input:focus {
      background-color: rgba(255, 255, 255, 0.6);
      -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 0px 0px rgba(0, 0, 0, 0.3); }
  .signup__terms {
    margin-top: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .signup__terms-list {
      margin-top: 12px;
      margin-bottom: 12px;
      padding: 6px 15px;
      width: 100%; }
      .signup__terms-list p {
        line-height: 100%;
        margin-bottom: 0;
        letter-spacing: -0.4px;
        color: rgba(255, 255, 255, 0.6);
        font-family: "AvenirNext", "Arial", sans-serif;
        font-size: 16px;
        font-weight: 300; }
        .signup__terms-list p:not(:last-child) {
          margin-bottom: 12px; }
    .signup__terms-checkbox {
      position: relative;
      width: 64px;
      border-left: 1px solid rgba(255, 255, 255, 0.2); }
      .signup__terms-checkbox input[type="checkbox"] {
        display: none; }
      .signup__terms-checkbox-icon {
        position: absolute;
        top: 50%;
        right: 16px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
        .signup__terms-checkbox-icon:after {
          position: absolute;
          bottom: 1px;
          left: 1px;
          width: 21px;
          height: 20px;
          content: '';
          border: 2px solid rgba(255, 255, 255, 0.4);
          border-radius: 100%; }
          input[type="checkbox"]:checked ~ .signup__terms-checkbox-icon:after {
            display: none; }
        input[type="checkbox"]:checked ~ .signup__terms-checkbox-icon {
          border: none;
          background: transparent url("../assets/imgs/icon-signup.png") center no-repeat; }
  .signup__btn {
    position: relative;
    width: 100%;
    padding: 17px 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(166deg, #de6391 29%, #be3a63 100%);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(21, 31, 123, 0.54), 0px 0px 32px 7px rgba(225, 103, 144, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
            box-shadow: 0px 1px 0px 0px rgba(21, 31, 123, 0.54), 0px 0px 32px 7px rgba(225, 103, 144, 0.17), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    text-shadow: 0px 1px 2.9px rgba(8, 11, 45, 0.27);
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 23px;
    font-weight: bold;
    line-height: 30.3px; }
    .signup__btn:hover {
      -webkit-box-shadow: 0px 1px 0px 0px rgba(21, 31, 123, 0.54), 0px 0px 32px 7px rgba(225, 103, 144, 0.34), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
              box-shadow: 0px 1px 0px 0px rgba(21, 31, 123, 0.54), 0px 0px 32px 7px rgba(225, 103, 144, 0.34), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4); }
    .signup__btn:focus {
      outline: none; }
    .signup__btn:active {
      outline: none;
      background-image: linear-gradient(166deg, #be3a63 9%, #de6391 69%);
      -webkit-box-shadow: 0px -1px 0px 0px rgba(21, 31, 123, 0.54), 0px 0px 32px 7px rgba(225, 103, 144, 0), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.4);
              box-shadow: 0px -1px 0px 0px rgba(21, 31, 123, 0.54), 0px 0px 32px 7px rgba(225, 103, 144, 0), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.4); }
  .signup__socials-auth {
    margin-top: 10px; }

.socials-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0; }
  .socials-auth__divider {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 16px; }
    .socials-auth__divider:after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: calc(50% - 20px);
      right: 0;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.4); }
    .socials-auth__divider:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: calc(50% - 20px);
      height: 1px;
      background-color: rgba(255, 255, 255, 0.4); }
  .socials-auth__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    padding: 0 30px;
    margin: 0; }
  .socials-auth__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .socials-auth__icon--facebook {
      background: transparent url("../assets/imgs/icon-facebook.png") center no-repeat;
      background-position: 8px 50%;
      opacity: .4; }
    .socials-auth__icon--google {
      background: transparent url("../assets/imgs/icon-google-plus.png") center no-repeat;
      opacity: .4; }
    .socials-auth__icon--github {
      background: transparent url("../assets/imgs/icon-github.png") center no-repeat;
      opacity: .4;
      background-position: 50% 120%; }
  .socials-auth__link {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 100%; }
    .socials-auth__link:hover {
      border: 2px solid rgba(255, 255, 255, 0.6); }
      .socials-auth__link:hover .socials-auth__icon {
        opacity: .6; }
    .socials-auth__link:focus {
      outline: none; }
    .socials-auth__link:active {
      border: 2px solid rgba(255, 255, 255, 0.8); }
      .socials-auth__link:active .socials-auth__icon {
        opacity: .8; }

.news {
  padding-top: 183px;
  padding-bottom: 30px;
  margin: -183px -15px 0;
  min-height: 790px;
  background-color: rgba(234, 234, 234, 0.7); }

.video {
  margin: 0 -15px;
  padding-top: 50px;
  padding-bottom: 106px;
  background-image: linear-gradient(121deg, rgba(133, 53, 130, 0.859) 0%, rgba(75, 38, 105, 0.859) 100%); }
  .video__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #bfafc9;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 66px; }
  .video__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
  .video__player {
    width: 100%;
    height: 100%;
    border: 5px solid rgba(255, 255, 255, 0.43);
    border-radius: 12px;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
    -o-object-fit: cover;
       object-fit: cover; }
  .video__text {
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 60%;
    text-align: center;
    font-size: 16px;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-weight: 300;
    color: white;
    line-height: 1.125; }
    @media (min-width: 576px) {
      .video__text {
        font-size: 18px;
        bottom: 20%; } }
    @media (min-width: 768px) {
      .video__text {
        font-size: 22px;
        bottom: 22%; } }
    @media (min-width: 992px) {
      .video__text {
        font-size: 28px;
        bottom: 24%; } }
    @media (min-width: 1200px) {
      .video__text {
        font-size: 32px;
        bottom: 26%; } }
  .video__play-btn {
    font-size: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 50%;
    background-color: transparent;
    border: none;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    z-index: 1;
    border-radius: 100%;
    padding: 0;
    cursor: pointer; }
    .video__play-btn:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 51%;
      -webkit-transform: translate(-49%, -50%);
              transform: translate(-49%, -50%);
      width: 30.4%;
      height: 34.7%;
      background: transparent url("../assets/imgs/icon-video-play.png") center no-repeat;
      background-size: 100%; }
    .video__play-btn:focus {
      outline: none; }
    .video__play-btn:hover {
      border-color: rgba(255, 255, 255, 0.75); }
      .video__play-btn:hover:after {
        opacity: .75; }
    @media (min-width: 1200px) {
      .video__play-btn {
        width: 93px;
        height: 93px;
        border: 3px solid white;
        bottom: 46.5%; } }

.concept {
  margin: 0 -15px;
  padding: 75px 0 55px;
  background-color: rgba(175, 151, 187, 0.2); }
  .concept__heading {
    margin-bottom: 38px; }
  .concept__image {
    width: 100%;
    height: 100%; }

.ads {
  padding-top: 146px;
  padding-bottom: 23px; }
  .ads__heading {
    margin-bottom: 37px; }
  .ads__text {
    margin: 0 auto 101px; }
    @media (min-width: 992px) {
      .ads__text {
        width: 609px; } }
  .ads__tabs {
    margin: 0 0 55px;
    padding: 0;
    list-style: none; }
    .ads__tabs-container {
      text-align: center; }
      .ads__tabs-container:first-of-type {
        text-align: right; }
      .ads__tabs-container:last-of-type {
        text-align: left; }
    @media (min-width: 768px) {
      .ads__tabs {
        margin: 0 0 100px; } }
    @media (min-width: 992px) {
      .ads__tabs {
        margin: 0 0 150px; } }
    @media (min-width: 1200px) {
      .ads__tabs {
        margin: 0 0 185px; } }
  .ads__tab {
    display: inline-block;
    width: 100%;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-weight: 300;
    color: #65616d;
    text-shadow: 0 0 1.9px rgba(0, 15, 41, 0.28);
    text-transform: uppercase;
    text-align: center;
    padding: 9px 0 8px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 243, 243, 0.15)), to(rgba(221, 221, 221, 0.15))), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15)));
    background-image: linear-gradient(to bottom, rgba(243, 243, 243, 0.15), rgba(221, 221, 221, 0.15)), linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    -webkit-box-shadow: 0px 9px 50px 0 rgba(35, 31, 32, 0.1);
            box-shadow: 0px 9px 50px 0 rgba(35, 31, 32, 0.1); }
    .ads__tab:focus {
      color: #65616d; }
    .ads__tab:hover {
      color: #65616d;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 243, 243, 0.45)), to(rgba(221, 221, 221, 0.45))), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3)));
      background-image: linear-gradient(to bottom, rgba(243, 243, 243, 0.45), rgba(221, 221, 221, 0.45)), linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
      -webkit-box-shadow: 0px 9px 25px 0 rgba(35, 31, 32, 0.2);
              box-shadow: 0px 9px 25px 0 rgba(35, 31, 32, 0.2); }
    .ads__tab.active {
      font-weight: 600;
      color: white;
      text-shadow: 0 0 1.9px rgba(0, 15, 41, 0.28);
      border-radius: 10px;
      background-image: linear-gradient(166deg, #853582 27%, #4b2669);
      -webkit-box-shadow: 0px 13px 50px 0px rgba(35, 31, 32, 0.2), 0px 0px 30px 9px rgba(132, 28, 185, 0.3);
              box-shadow: 0px 13px 50px 0px rgba(35, 31, 32, 0.2), 0px 0px 30px 9px rgba(132, 28, 185, 0.3); }
      .ads__tab.active:focus {
        color: white;
        text-decoration: none; }
        .ads__tab.active:focus:hover {
          text-decoration: underline; }
      .ads__tab.active:hover {
        color: white;
        -webkit-box-shadow: 0px 13px 50px 0px rgba(35, 31, 32, 0.2), 0px 0px 30px 9px rgba(132, 28, 185, 0.4);
                box-shadow: 0px 13px 50px 0px rgba(35, 31, 32, 0.2), 0px 0px 30px 9px rgba(132, 28, 185, 0.4); }
      .ads__tab.active:active {
        background-image: linear-gradient(166deg, #4b2669 27%, #853582);
        -webkit-box-shadow: 0px -13px 50px 0px rgba(35, 31, 32, 0.2), 0px 0px 15px 3px rgba(132, 28, 185, 0.5);
                box-shadow: 0px -13px 50px 0px rgba(35, 31, 32, 0.2), 0px 0px 15px 3px rgba(132, 28, 185, 0.5); }
    @media (min-width: 992px) {
      .ads__tab {
        padding: 16px 0 15px;
        width: auto;
        min-width: 185px; } }
  .ads__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 110px; }
    .ads__item-icon {
      position: absolute;
      top: 0;
      left: 0; }
      .ads__item-icon-container {
        position: relative;
        width: 68px; }
      .ads__item-icon--lamp {
        top: -11px;
        width: 33px;
        height: 48px;
        background: transparent url("../assets/imgs/icon-lamp.png") no-repeat;
        background-size: 100%; }
      .ads__item-icon--browser {
        top: -4px;
        width: 43px;
        height: 34px;
        background: transparent url("../assets/imgs/icon-browser.png") no-repeat;
        background-size: 100%; }
      .ads__item-icon--gamepad {
        top: -5px;
        width: 49px;
        height: 35px;
        background: transparent url("../assets/imgs/icon-gamepad.png") no-repeat;
        background-size: 100%; }
      .ads__item-icon--resize {
        top: -4px;
        width: 34px;
        height: 34px;
        background: transparent url("../assets/imgs/icon-resize.png") no-repeat;
        background-size: 100%; }
      .ads__item-icon--cart {
        top: -8px;
        width: 48px;
        height: 42px;
        background: transparent url("../assets/imgs/icon-cart.png") no-repeat;
        background-size: 100%; }
      .ads__item-icon--gift {
        top: -10px;
        width: 43px;
        height: 46px;
        background: transparent url("../assets/imgs/icon-gift.png") no-repeat;
        background-size: 100%; }
    .ads__item-content {
      width: 82.6%; }
    .ads__item-heading {
      font-size: 24px;
      margin-bottom: 12px;
      text-align: left;
      color: #494949;
      font-family: "AvenirNext", "Arial", sans-serif;
      font-weight: 600; }
      @media (min-width: 768px) {
        .ads__item-heading {
          margin-bottom: 24px; } }
    .ads__item-text {
      font-size: 16px;
      line-height: 1.743;
      color: #7c7c7c;
      font-family: "AvenirNext", "Arial", sans-serif;
      font-weight: 300; }

.experts {
  padding-top: 90px;
  padding-bottom: 80px; }
  @media (min-width: 768px) {
    .experts {
      padding-top: 174px;
      padding-bottom: 163px; } }
  .experts__heading {
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .experts__heading {
        margin-bottom: 38px; } }
  .experts__text {
    margin-bottom: 46px; }
    @media (min-width: 768px) {
      .experts__text {
        margin-bottom: 93px; } }
  .experts__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    max-width: 1066px;
    margin: auto;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 243, 243, 0.15)), to(rgba(221, 221, 221, 0.15))), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15)));
    background-image: linear-gradient(to bottom, rgba(243, 243, 243, 0.15), rgba(221, 221, 221, 0.15)), linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    -webkit-box-shadow: 0px 9px 50px 0 rgba(35, 31, 32, 0.1);
            box-shadow: 0px 9px 50px 0 rgba(35, 31, 32, 0.1); }
    .experts__card-content {
      width: 65.83%;
      padding: 14px 10px 12px 20px; }
      @media (min-width: 768px) {
        .experts__card-content {
          padding: 27px 21px 22px 37px; } }
      @media (min-width: 992px) {
        .experts__card-content {
          padding: 54px 42px 43px 74px; } }
    .experts__card-text {
      margin-bottom: 10px;
      text-align: justify;
      letter-spacing: -0.15px;
      color: #9a9a9a;
      font-family: "AvenirNext", "Arial", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.2; }
      @media (min-width: 768px) {
        .experts__card-text {
          margin-bottom: 20px;
          letter-spacing: -0.3px;
          font-size: 20px; } }
      @media (min-width: 992px) {
        .experts__card-text {
          margin-bottom: 29px;
          letter-spacing: -0.6px;
          font-size: 24px; } }
  .experts__photo {
    width: 34.71%;
    height: auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover; }
  .experts__rating {
    width: 100%;
    height: 12px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media (min-width: 768px) {
      .experts__rating {
        height: 18px;
        margin-bottom: 28px; } }
    @media (min-width: 992px) {
      .experts__rating {
        height: 24px;
        margin-bottom: 44px; } }
    .experts__rating-star {
      width: 12px;
      height: 12px;
      background: transparent url("../assets/imgs/icon-raiting-star-empty.png") center no-repeat;
      background-size: 100%;
      margin: 0 1px; }
      .experts__rating-star:first-of-type {
        margin-left: 0; }
      @media (min-width: 768px) {
        .experts__rating-star {
          width: 18px;
          height: 18px;
          margin: 0 2px; } }
      @media (min-width: 992px) {
        .experts__rating-star {
          width: 24px;
          height: 24px;
          margin: 0 3px; } }
      .experts__rating-star[data-has-star="true"] {
        background: transparent url("../assets/imgs/icon-raiting-star.png") center no-repeat;
        background-size: 100%; }
  .experts__name {
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -2.3px;
    text-align: left;
    color: #3e3e3e;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .experts__name {
        font-size: 30px; } }
    @media (min-width: 992px) {
      .experts__name {
        font-size: 38px; } }
  .experts__post {
    font-size: 15px;
    margin-bottom: 6px;
    color: #9a9a9a;
    font-family: "AvenirNext", "Arial", sans-serif; }
    @media (min-width: 768px) {
      .experts__post {
        letter-spacing: -0.9px;
        font-size: 24px;
        margin-bottom: 8px; } }
    @media (min-width: 992px) {
      .experts__post {
        letter-spacing: -1.8px;
        font-size: 30px;
        margin-bottom: 13px; } }
  .experts__btn-container {
    width: 100%;
    text-align: right; }

.team {
  background-color: #eee8ef;
  margin: 0 -15px;
  padding-top: 60px; }
  @media (min-width: 768px) {
    .team {
      padding-top: 120px; } }
  @media (min-width: 992px) {
    .team {
      padding-top: 177px; } }
  .team__heading {
    margin-bottom: 12px; }
    @media (min-width: 768px) {
      .team__heading {
        margin-bottom: 25px; } }
    @media (min-width: 992px) {
      .team__heading {
        margin-bottom: 37px; } }
  .team__text {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .team__text {
        margin-bottom: 60px; } }
    @media (min-width: 992px) {
      .team__text {
        margin-bottom: 92px; } }
  .team__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .team__card {
    width: 100%;
    max-width: 370px;
    margin: auto;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .team__card {
        margin-bottom: 45px; } }
    @media (min-width: 992px) {
      .team__card {
        margin-bottom: 79px; } }
  .team__photo {
    position: relative;
    width: 100%;
    height: 456px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin-bottom: 5px;
    border-radius: 5px; }
    @media (min-width: 768px) {
      .team__photo {
        margin-bottom: 26px; } }
    .team__photo:hover .team__photo-cover {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .team__photo-cover {
      width: 100%;
      height: 100%;
      display: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      border-radius: 5px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(189, 75, 163, 0.851)), to(rgba(68, 27, 101, 0.851)));
      background-image: linear-gradient(180deg, rgba(189, 75, 163, 0.851) 0%, rgba(68, 27, 101, 0.851) 100%); }
      .team__photo-cover .team__name {
        letter-spacing: -0.8px;
        color: white;
        margin-bottom: 21px; }
      .team__photo-cover .team__role {
        font-size: 22px;
        letter-spacing: -0.6px;
        color: white;
        margin-bottom: 35px; }
  .team__social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 81px;
    height: 16px; }
  .team__social-link {
    display: block;
    color: white;
    width: 16px;
    height: 16px;
    line-height: 100%;
    text-align: center; }
    .team__social-link:focus {
      color: white;
      outline: none;
      text-decoration: none; }
    .team__social-link:hover {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none; }
    .team__social-link:active {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none; }
  .team__name {
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 30px;
    letter-spacing: -0.7px;
    line-height: 100%;
    color: #4e4d4d;
    text-align: center;
    display: block;
    margin-bottom: 6px; }
    @media (min-width: 768px) {
      .team__name {
        margin-bottom: 9px; } }
  .team__role {
    text-align: center;
    display: block;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 18px;
    line-height: 100%;
    color: #4e4d4d;
    font-weight: 300; }

.clients {
  margin: 50px -15px 85px;
  position: relative; }
  .clients:before {
    display: none;
    z-index: -3;
    top: 235px;
    right: 0;
    position: absolute;
    content: '';
    width: 424px;
    background-image: -webkit-gradient(linear, left top, right top, from(#4b2669), to(#853582));
    background-image: linear-gradient(90deg, #4b2669 0%, #853582 100%);
    height: 434px; }
  @media (min-width: 768px) {
    .clients {
      margin-top: 100px;
      margin-bottom: 170px; } }
  @media (min-width: 992px) {
    .clients {
      margin-top: 154px;
      margin-bottom: 223px; }
      .clients:before {
        display: block; } }
  .clients__heading {
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .clients__heading {
        margin-bottom: 80px; } }
    @media (min-width: 992px) {
      .clients__heading {
        margin-bottom: 120px; } }
  .clients__block-heading {
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 40px;
    margin-bottom: 39px;
    font-weight: 300;
    color: #4e4d4d;
    text-align: center; }
    @media (min-width: 992px) {
      .clients__block-heading {
        margin-top: 73px;
        text-align: left;
        font-size: 50px; } }
  .clients__text {
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
    color: #4e4d4d;
    margin-bottom: 15px;
    line-height: 1.38; }
    @media (min-width: 992px) {
      .clients__text {
        margin-bottom: 30px;
        width: 455px; } }
  .clients__btn {
    display: block;
    padding-left: 30px;
    padding-right: 30px; }
    .clients__btn-container {
      text-align: center;
      margin-bottom: 77px; }
      @media (min-width: 992px) {
        .clients__btn-container {
          text-align: left; } }
    @media (min-width: 992px) {
      .clients__btn {
        display: inline-block; } }
  .clients__list {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none; }
    .clients__list li {
      margin-bottom: 15px; }
      @media (min-width: 768px) {
        .clients__list li {
          margin-bottom: 30px; } }
      @media (min-width: 992px) {
        .clients__list li {
          margin-bottom: 45px; } }
    .clients__list-item {
      display: block;
      font-size: 0;
      width: 100%;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
  .clients__block {
    position: relative;
    height: 595px; }
  .clients__poster {
    position: absolute; }
    .clients__poster--forward {
      width: 439px;
      height: 329.4px;
      top: 130px;
      left: 26px;
      z-index: 0;
      background: transparent url("../assets/imgs/client-1.jpg") top center no-repeat;
      -webkit-box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.22);
              box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.22);
      background-size: 100%; }
      @media (min-width: 1200px) {
        .clients__poster--forward {
          width: 488px;
          height: 366px; } }
    .clients__poster--aback {
      top: 20px;
      right: 0;
      width: 438.3px;
      height: 535.5px;
      z-index: -2;
      background: transparent url("../assets/imgs/client-2.jpg") top center no-repeat;
      -webkit-box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.22);
              box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.22);
      background-size: 100%; }
      .clients__poster--aback:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.74); }
      @media (min-width: 1200px) {
        .clients__poster--aback {
          top: -15px;
          right: 15px;
          width: 487px;
          height: 595px; } }

.documents {
  margin: 0 -15px;
  padding-top: 27px;
  padding-bottom: 36px;
  background-color: #eee8ef; }
  @media (min-width: 992px) {
    .documents {
      padding-top: 55px;
      padding-bottom: 72px; } }
  .documents__heading {
    margin-bottom: 43px; }
    @media (min-width: 992px) {
      .documents__heading {
        margin-bottom: 86px; } }
  .documents__copy {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    -webkit-box-shadow: 0px 0px 40px 11px rgba(35, 31, 32, 0.18);
            box-shadow: 0px 0px 40px 11px rgba(35, 31, 32, 0.18); }
    @media (min-width: 992px) {
      .documents__copy {
        margin-bottom: 30px; } }
  .documents__name {
    font-size: 29.1px;
    letter-spacing: -0.7px;
    line-height: 100%;
    color: #4e4d4d;
    font-family: "AvenirNext", "Arial", sans-serif;
    display: block;
    text-align: center;
    margin-bottom: 20px; }
    @media (min-width: 992px) {
      .documents__name {
        margin-bottom: 45px; } }

.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #343141 -webkit-gradient(linear, left top, right top, from(#343141), to(#564f63));
  background: #343141 linear-gradient(to right, #343141, #564f63); }
  .footer__block:not(:last-of-type) {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .footer__block:not(:last-of-type) {
        margin-bottom: 40px; } }
    @media (min-width: 1200px) {
      .footer__block:not(:last-of-type) {
        margin-bottom: 105px; } }
  .footer__heading {
    text-transform: uppercase;
    font-size: 13px;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 9px;
    color: #fff; }
  .footer__menu {
    margin-bottom: 30px;
    padding: 0;
    list-style: none; }
  .footer__link {
    font-family: "AvenirNext", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer; }
    .footer__link:hover {
      color: rgba(255, 255, 255, 0.5); }
    .footer__link:focus {
      text-decoration: none;
      outline: none;
      color: rgba(255, 255, 255, 0.5); }
    .footer__link:focus:hover {
      text-decoration: underline; }
    .footer__link:active {
      color: rgba(255, 255, 255, 0.7); }
  @media (min-width: 992px) {
    .footer {
      padding-top: 125px;
      padding-bottom: 75px; } }
  @media (min-width: 1200px) {
    .footer {
      padding-top: 150px;
      padding-bottom: 100px; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .social__btn {
    position: absolute;
    top: 50%;
    right: -21px;
    padding: 16px 21px 15px;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(225deg, #9e318c, #7a3c8e 99%);
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-weight: bold;
    line-height: 100%; }
    .social__btn:focus {
      outline: none; }
    .social__btn:hover {
      -webkit-box-shadow: inset 0px 2px 5px 2px rgba(255, 255, 255, 0.1);
              box-shadow: inset 0px 2px 5px 2px rgba(255, 255, 255, 0.1); }
    .social__btn:active {
      -webkit-box-shadow: none;
              box-shadow: none;
      background-image: linear-gradient(225deg, #7a3c8e, #9e318c 99%); }
  .social__input {
    position: absolute;
    display: block;
    width: 70%;
    height: 100%;
    padding: 0;
    border: none; }
    .social__input:focus {
      outline: none; }
  .social__wrapper {
    position: relative;
    z-index: 0;
    width: 90%;
    height: 48px;
    margin-left: 24px;
    margin-bottom: 20px;
    background-color: #fff; }
    .social__wrapper:after {
      position: absolute;
      z-index: -1;
      left: -24px;
      width: 48px;
      height: 48px;
      content: '';
      border-radius: 100%;
      background-color: #fff; }
    .social__wrapper:before {
      position: absolute;
      z-index: -1;
      right: -24px;
      width: 48px;
      height: 48px;
      content: '';
      border-radius: 100%;
      background-color: #fff; }
    @media (min-width: 1200px) {
      .social__wrapper {
        width: 305px; } }
    @media (min-width: 1200px) {
      .social__wrapper {
        width: 305px; } }
    @media (min-width: 1200px) {
      .social__wrapper {
        width: 305px; } }
  .social__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 47px;
    height: 47px;
    border: solid 2px #ffffff;
    border-radius: 100%;
    color: white;
    font-size: 22px; }
    .social__links--facebook {
      padding-top: 1px;
      padding-right: 2px; }
    .social__links:hover {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      border-color: rgba(255, 255, 255, 0.7); }
    .social__links:focus {
      outline: none;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      border-color: rgba(255, 255, 255, 0.7); }
    .social__links:active {
      color: rgba(255, 255, 255, 0.5);
      border-color: rgba(255, 255, 255, 0.5); }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px; }
  .copyright__text {
    margin: 0;
    margin-bottom: 9px;
    color: white;
    font-family: "AvenirNext", "Arial", sans-serif;
    font-size: 15px;
    line-height: 15px; }
